<%- include ./header -%>

<h1><%= course.code + ' - ' + course.name %><br><small>Teaching assistants</small></h1>

<%- include ./messages %>

<!-- Show current TAs -->

<table class="table table-striped">
    <thead>
        <tr>
            <th rowspan="2">Name</th>
            <th rowspan="2">Email</th>
            <% if (!_.isEmpty(course.tutorials)) { %>
                <th colspan="<%= course.tutorials.length %>" class="text-center">Tutorials</th>
            <% } %>
            <th rowspan="2"></th>
        </tr>
        <tr>
        <% course.tutorials.forEach(function (tutorial) { %>
            <th class="text-center"><%= tutorial.number %></th>
        <% }) %>
        </tr>
    </thead>
    <tbody>
    <% if (!_.isEmpty(course.teachingAssistants)) { %>
        <% _.each(course.teachingAssistants, function (teachingAssistant) { %>
            <tr>
                <td><%= teachingAssistant.name.full %></td>
                <td><%= teachingAssistant.local.email %></td>
                <% course.tutorials.forEach(function (tutorial) { %>
                    <td class="text-center"><input type="checkbox" name="tutorials[]" value="<%= tutorial.id %>"<%= 
                        tutorial.teachingAssistants.indexOf(teachingAssistant.id) !== -1 ? ' checked' : '' %>></td>
                <% }) %>
                <td>
                <% if (!_.isEmpty(course.tutorials)) { %>
                    <button type="button" class="btn btn-default btn-sm btn-update-user"
                        data-url="/admin/courses/<%= course.id %>/teaching-assistants/<%= teachingAssistant.id %>">Update</button>
                <% } %>
                    <button type="button" class="btn btn-danger btn-sm btn-delete-user"
                        data-url="/admin/courses/<%= course.id %>/teaching-assistants/<%= teachingAssistant.id %>">Delete</button>
                </td>
            </tr>
        <% }) %>
    <% } else { %>
        <tr><td colspan="<%= 3 + course.tutorials.length %>">No teaching assistants have been added to the course yet.</td></tr>
    <% } %>
    </tbody>
</table>

<!-- Search TAs -->

<h1><small>Find teaching assistants</small></h1>

<form id="form-search-user" action="/admin/courses/<%= course.id %>/teaching-assistants/search" method="get">
    <div class="form-group">
        <label class="col-md-3 control-label">Enter name (or leave blank)</label>
        <div class="col-md-4">
            <div class="row">
                <div class="col-xs-10">
                    <input type="text" name="q" value="" class="form-control input-sm">
                </div>
                <div class="col-xs-2">
                    <input type="submit" value="Go" class="btn btn-default btn-sm">
                </div>
            </div>
        </div>
    </div>
</form>

<div id="search-user-results"></div>

<%- include ./body-js -%>
<%- include ./footer -%>