<%- include ./header -%>

<h1><%= course.code + ' - ' + course.name %><br><small>Teaching assistants</small></h1>

<%- include ./flash %>

<form action="/admin/courses/<%= course.id %>/teaching-assistants?_method=put" method="post">
    <div class="nav-actions">
        <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#modal-find-users">
            <span class="glyphicon glyphicon-search"></span> Find teaching assistants</button>
        <button type="submit" class="btn btn-primary btn-sm" id="btn-update">
            <span class="glyphicon glyphicon-ok"></span> Update tutorials</button>
    </div>
    <div class="stretch">
        <table class="table table-striped" id="table-users">
            <thead>
                <tr>
                    <th rowspan="2">Name</th>
                    <th colspan="<%= course.tutorials.length ? course.tutorials.length : 1 %>">Tutorials</th>
                    <th rowspan="2" class="actions"></th>
                </tr>
                <tr>
                <% _.each(course.tutorials, function (tutorial) { %>
                    <th class="text-center"><%= tutorial.number %></th>
                <% }) %>
                </tr>
            </thead>
            <tbody>
            <% if (_.isEmpty(course.teachingAssistants)) { %>
                <tr>
                    <td>No teaching assistants have been added to the course yet.</td>
                    <td colspan="<%= 1 + course.tutorials.length %>"></td>
                </tr>
            <% } else { %>
                <% _.each(course.teachingAssistants, function (assistant) { %>
                    <tr>
                        <td><%= assistant.name.full %></td>
                        <% if (_.isEmpty(course.tutorials)) { %>
                            <td>&nbsp;</td>
                        <% } else { %>
                            <% _.each(course.tutorials, function (tutorial) { %>
                                <td class="text-center"><input type="checkbox" name="tutorials[<%= tutorial.id %>]" 
                                    value="<%= assistant.id %>"<%= tutorial.hasTeachingAssistant(assistant.id) ? ' checked' : '' %>></td>
                            <% }) %>
                        <% } %>
                        <td><a href="/admin/courses/<%= course.id %>/teaching-assistants/<%= assistant.id %>" 
                                class="btn btn-danger btn-sm btn-delete-user"><span 
                                class="glyphicon glyphicon-remove"></span> Remove</a></td>
                    </tr>
                <% }) %>
            <% } %>
            </tbody>
        </table>
    </div>
</form>

<%- include ./modals/find-teaching-assistants %>
<%- include ./body-js -%>
<%- include ./footer -%>