<%- include ./header -%>


<h1>Students</h1>

<!-- Show current students -->

<table class="table table-striped">
    <thead>
        <tr>
            <th rowspan="2">UTORid</th>
            <th rowspan="2">Name</th>
            <th rowspan="2">Email</th>
            <th colspan="<%= course.tutorials.length %>" class="text-center">Tutorials</th>
            <th rowspan="2"></th>
        </tr>
        <tr>
        <% course.tutorials.forEach(function (tutorial) { %>
            <th class="text-center"><%= tutorial.number %></th>
        <% }) %>
        </tr>
    </thead>
    <tbody>
    <% course.students.forEach(function (student) { %>
        <tr>
            <td><%= student.UTORid %></td>
            <td><%= student.name.full %></td>
            <td><%= student.local.email %></td>
            <% course.tutorials.forEach(function (tutorial) { %>
                <td class="text-center"><input type="radio" name="tutorial[<%= student.id %>]" value="<%= tutorial.id %>"<%= 
                    tutorial.students.indexOf(student.id) !== -1 ? ' checked' : '' %>></td>
            <% }) %>
            <td>
                <div class="dropdown">
                    <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                        Actions<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#" class="btn-update-user"
                    data-url="/admin/courses/<%= course.id %>/students/<%= student.id %>">Update tutorial</a></li>
                        <li class="divider">
                        <li><a href="#" class="btn-delete-user"
                    data-url="/admin/courses/<%= course.id %>/students/<%= student.id %>">Remove from course</a></li>
                    </ul>
                </div>
            </td>
        </tr>
    <% }) %>
    </tbody>
</table>


<!-- Search students -->

<h1>Find students</h1>

<form id="form-search-user" action="/admin/courses/<%= course.id %>/students/search" method="get">
    <div class="form-group">
        <label class="col-md-3 control-label">Enter name (or leave blank)</label>
        <div class="col-md-4">
            <div class="row">
                <div class="col-xs-10">
                    <input type="text" name="q" value="" class="form-control input-sm">
                </div>
                <div class="col-xs-2">
                    <input type="submit" value="Go" class="btn btn-primary btn-sm">
                </div>
            </div>
        </div>
    </div>
</form>

<div id="search-user-results" class="clearfix"></div>

<!-- Import students -->

<h1>Import students</h1>

<form action="/admin/courses/<%= course.id %>/students/import" method="post" enctype="multipart/form-data" class="form-inline">
    <div class="form-group">
        <label class="control-label">Upload file</label>
        
            <label class="btn btn-default">
                <input type="file" name="file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" style="display:none;">Browse
            </label>
            <span class="label label-info"></span>
            <input type="submit" value="Go" class="btn btn-primary btn-sm">
     
    </div>
</form>

<%- include ./footer -%>