<%- include ./header -%>

<h1>Courses</h1>

<h4 class="todo">@TODO: ability to delete courses</h4>

<a href="/admin/courses/new" class="btn btn-default btn-sm"><span 
    class="glyphicon glyphicon-plus"></span> Add New Course</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Instructors</th>
            <th>Tutorials/T.A.'s</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    <% courses.forEach(function (course) { %>
        <tr>
            <td><%= course.code %></td>
            <td><%= course.name %></td>
            <td>
            <% course.instructors.forEach(function (instructor) { %>
                <div><%= instructor.name.full %></div>
            <% }) %>
            </td>
            <td class="tutorial">
            <% course.tutorials.forEach(function (tutorial) { %>
                <div>
                    <span class="number"><%= 'TUT ' + tutorial.number %></span>
                <% if (tutorial.teachingAssistants.length) { %>
                    <span class="teaching-assistants"><%=  
                        '(' + tutorial.teachingAssistants.map(function (teachingAssistant) { 
                            return teachingAssistant.name.full; 
                        }).join(', ') + ')'
                    %></span>
                <% } %>
                </div>
            <% }) %>
            <td>
                <div class="dropdown">
                    <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                        Actions<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="/admin/courses/<%= course.id %>/edit"><span 
                            class="glyphicon glyphicon-pencil"></span> Edit Course</a></li>
                        <li><a href="/admin/courses/<%= course.id %>/tutorials">Manage Tutorials</a></li>
                        <li><a href="/admin/courses/<%= course.id %>/quizzes">Manage Quizzes</a></li>
                        <li><a href="/admin/courses/<%= course.id %>/files"><span 
                            class="glyphicon glyphicon-file"></span> Manage Files</a></li>
                        <li><a href="/admin/courses/<%= course.id %>/instructors">Manage Instructors</a></li>
                        <li><a href="/admin/courses/<%= course.id %>/teaching-assistants">Manage Teaching Assistants</a></li>
                        <li><a href="/admin/courses/<%= course.id %>/students">Manage Students</a></li>
                        <li class="divider"></li>
                        <li><a href="/admin/courses/<%= course.id %>"><span 
                            class="glyphicon glyphicon-remove"></span> Delete Course</a></li>
                    </ul>
                </div>
            </td>
        </tr>
    <% }) %>
    </tbody>
</table>

<%- include ./footer -%>