<%- include ./header -%>

<h1><%= us3r.isNew ? 'Add new student' : 'Edit student' %></h1>

<%- include ./flash %>

<form action="/admin/courses/<%= course.id %>/students/<%= us3r.isNew ? 
    '' : us3r.id + '?_method=put' %>" method="post" class="form-horizontal">

    <div class="form-group">
        <label class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
            <p class="form-control-static"><%= us3r.name.full %></p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Tutorial</label>
        <div class="col-sm-10">
            <select name="tutorial" class="form-control">
            <% _.each(course.tutorials, function (tutorial) { %>
                <option value="<%= tutorial.id %>"<%= tutorial.hasStudent(us3r.id) ? 
                    ' selected' : '' %>>TUT <%= tutorial.number %></option> 
            <% }) %>
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <a href="/admin/users" class="btn btn-default btn-sm">Cancel</a>
            <button type="submit" class="btn btn-primary btn-sm">Save</button>
        </div>
    </div>
    
</form>

<%- include ./body-js -%>
<%- include ./footer -%>