<%- include ./header -%>

<h1><%= course.code + ' - ' + course.name %><br><small>Files</small></h1>

<a href="/admin/courses/<%= course.id %>/files/new" class="btn btn-default btn-sm"><span 
    class="glyphicon glyphicon-plus"></span> Add New File</a>

<a href="/admin/courses/<%= course.id %>/files" class="btn btn-default btn-delete" id="btn-delete-files"><span class="glyphicon glyphicon-remove"></span> Delete Files</a>

<br><br>

<table class="table table-striped" id="table-files">
    <tdead>
        <tr>
            <th><input type="checkbox" value="1" class="select-all"></th>
            <th>Name</th>
            <th>Type</th>
            <th>Last modified</th>
            <th></th>
        </tr>
    </tdead>
    <tbody>
    <% if (!_.isEmpty(course.files)) { %>
        <% for (var i = 0, len = course.files.length; i < len; i++) { %>
            <tr>
                <td><input type="checkbox" name="files[]" value="<%= course.files[i].id %>"></td>
                <td><%= course.files[i].name %></td>
                <td><%= course.files[i].type %></td>
                <td><%= moment(course.files[i].updatedAt).format(dateFormat) %></td>
                <td>
                    <a href="/admin/courses/<%= course.id %>/files/<%= course.files[i].id %>/edit" class="btn btn-default">
                        <span class="glyphicon glyphicon-pencil"></span> Edit File</a></li>
                </td>
            </tr>
        <% } %>
    <% } else { %>
        <tr><td colspan="5">No files have been added yet.</td></tr>
    <% } %>
    </tbody>
</table>

<script type="text/template" id="btn-delete-message-template">
    <p>You are about to delete files and all of their associations.</p>
    <p>This action <b>cannot be undone</b>. Do you want to proceed with this action?</p>  
</script>

<%- include ./footer -%>