<%- include ./header -%>

<h1><%= course.code + ' - ' + course.name %><br><small>Instructors</small></h1>

<%- include ./flash %>

<div class="nav-actions">
    <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#modal-find-users">
        <span class="glyphicon glyphicon-search"></span> Find instructors</button>
</div>

<table class="table table-striped" id="table-users">
    <thead>
        <tr>
            <th>Name</th>
            <th style="width: 45%">Email</th>
            <th class="actions"></th>
        </tr>
    </thead>
    <tbody>
    <% if (_.isEmpty(course.instructors)) { %>
        <tr>
            <td colspan="3">No instructors have been added to the course yet.</td>
        </tr>
    <% } else { %>
        <% _.each(course.instructors, function (instructor) { %>
            <tr>
                <td><%= instructor.name.full %></td>
                <td><%= instructor.local.email %></td>
                <td><a href="/admin/courses/<%= course.id %>/instructors/<%= instructor.id %>"
                        class="btn btn-danger btn-sm btn-delete-user"><span 
                        class="glyphicon glyphicon-remove"></span> Remove</a></td>
            </tr>
        <% }) %>
    <% } %>
    </tbody>
</table>

<%- include ./modals/find-instructors -%>
<%- include ./body-js -%>
<%- include ./footer -%>