<%- include ./header -%>

<h1><%= course.code + ' - ' + course.name %><br><small>Students</small></h1>

<%- include ./flash %>

<div class="nav-actions">
    <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#modal-import-students">
        <span class="glyphicon glyphicon-save"></span> Import students</button>
    <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#modal-find-users">
        <span class="glyphicon glyphicon-search"></span> Find students</button>
    <button type="button" class="btn btn-primary btn-sm" id="btn-update">
        <span class="glyphicon glyphicon-ok"></span> Update tutorials</button>
</div>

<!-- Show current student. -->

<table class="table table-striped" id="table-users">
    <thead>
        <tr>
            <th rowspan="2">Name</th>
            <th rowspan="2">UTORid</th>
            <% if (!_.isEmpty(course.tutorials)) { %>
                <th colspan="<%= course.tutorials.length %>">Tutorials</th>
            <% } %>
            <th rowspan="2" style="width: 100px"></th>
        </tr>
        <tr>
        <% _.each(course.tutorials, function (tutorial) { %>
            <th class="text-center"><%= tutorial.number %></th>
        <% }) %>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th colspan="<%= 3 + course.tutorials.length %>">
                <%= course.students.length + ' student' + (course.students.length !== 1 ? 's' : '') %>
            </th>
        </tr>
    </tfoot>
    <tbody>
    <% if (_.isEmpty(course.students)) { %>
        <tr>
            <td colspan="<%= 3 + course.tutorials.length %>">
                No students have been added to the course yet. Click <a 
                href="#" data-toggle="modal" data-target="#modal-find-users">here</a> to add students to the course.
            </td>
        </tr>
    <% } else { %>
        <% _.each(course.students, function (student) { %>
            <tr>
                <td><%= student.name.full %></td>
                <td><%= student.student.UTORid %></td>
                <% _.each(course.tutorials, function (tutorial) { %>
                    <td class="text-center"><input type="radio" name="tutorials[<%= student.id %>]" 
                        value="<%= tutorial.id %>"<%= tutorial.hasStudent(student.id) ? ' checked' : '' %>></td>
                <% }) %>
                <td><a href="/admin/courses/<%= course.id %>/students/<%= student.id %>" 
                        class="btn btn-danger btn-sm btn-delete-user"><span 
                        class="glyphicon glyphicon-remove"></span> Remove</a></td>
            </tr>
        <% }) %>
    <% } %>
    </tbody>
</table>

<%- include ./modals/import-students %>
<%- include ./modals/find-students %>
<%- include ./body-js %>

<script>
$(function () {
    $('#btn-update').click(function () {
        $.ajax(window.location.href, {
            type: 'put',
            data: $(':radio').serialize(),
            success: function (res) {
                window.location.reload(true); // TO-FIX
            }
        })
    });
});
</script>

<%- include ./footer %>