<%- include ./header -%>

<h1>Tutorials</h1>
<h4 class="todo">@TODO: ability to delete tutorials</h4>

<a href="/admin/courses/<%= course.id %>/tutorials/new" class="btn btn-default btn-sm"><span 
    class="glyphicon glyphicon-plus"></span> Add New Tutorial</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Tutorial</th>
            <th>Teaching assistants</th>
            <th class="text-center"># of students</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    <% course.tutorials.forEach(function (tutorial) { %>
        <tr>
            <td>TUT <%= tutorial.number %></td>
            <td><%- tutorial.teachingAssistants.map(function (ta) { return ta.name.full; }).join('<br>') %></td>
            <td class="text-center"><%= tutorial.students.length %></td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                        Actions<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="/admin/courses/<%= course.id %>/tutorials/<%= tutorial.id %>/edit"><span 
                            class="glyphicon glyphicon-pencil"></span> Edit Tutorial</a></li>
                        <li><a href="/admin/courses/<%= course.id %>/tutorials/<%= tutorial.id %>/students">Manage Students</a></li>
                        <li><a href="/admin/courses/<%= course.id %>/tutorials/<%= tutorial.id %>/quizzes">Manage Quizzes</a></li>
                        <li class="divider"></li>
                        <li><a href="#"><span class="glyphicon glyphicon-remove"></span> Delete Tutorial</a></li>
                    </ul>
                </div>
            </td>
        </tr>
    <% }) %>
    </tbody>
</table>

<%- include ./footer -%>