<%- include ./header -%>

<h1>Quizzes</h1>


<h4 class="todo">@TODO: ability to delete quizzes at course level</h4>

<a href="/admin/courses/<%= course.id %>/quizzes/new" class="btn btn-default btn-sm"><span 
    class="glyphicon glyphicon-plus"></span> Add New Quiz</a>

<table class="table table-striped sortable">
    <thead>
        <tr>
            <th>Name</th>
            <th class="text-center"># of questions</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    <% course.quizzes.forEach(function (quiz, i) { %>
        <tr>
            <td><%= quiz.name %></td>
            <td class="text-center"><%= quiz.questions.length %></td>
            <td></td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                        Actions<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="/admin/courses/<%= course.id %>/quizzes/<%= quiz.id %>/edit"><span 
                            class="glyphicon glyphicon-pencil"></span> Edit Quiz</a></li>
                        <li><a href="/admin/courses/<%= course.id %>/quizzes/<%= quiz.id %>/questions">Manage Questions</a></li>
                        <li class="divider"></li>
                        <li><a href="#"><span class="glyphicon glyphicon-remove"></span> Delete Quiz</a></li>
                    </ul>
                </div>
            </td>
        </tr>
    <% }) %>
    </tbody>
</table>

<%- include ./footer -%>