<%- include ./header -%>

<h1>Quizzes</h1>


<h4 class="todo">@TODO: ability to delete quizzes at course level</h4>

<% if (user.hasRole('admin', 'instructor')) { %>
    <a class="btn btn-default btn-sm" href="/admin/courses/<%= course.id %>/quizzes/new">Add New Quiz</a>
<% } %>

<table class="table table-striped sortable">
    <thead>
        <tr>
            <th class="check-all"><input type="checkbox" value="1"></th>
            <th>Name</th>
            <th class="text-center"># of questions</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    <% course.quizzes.forEach(function (quiz, i) { %>
        <tr>
            <td><input type="checkbox" name="quizzes[]" value="<%= quiz.id %>"></td>
            <td><%= quiz.name %></td>
            <td class="text-center"><%= quiz.questions.length %></td>
            <td></td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                        Actions<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                    <% if (user.hasRole('admin', 'instructor')) { %>
                        <li><a href="/admin/courses/<%= course.id %>/quizzes/<%= quiz.id %>/edit">Edit Quiz</a></li>
                    <% } %>
                        <li><a href="/admin/courses/<%= course.id %>/quizzes/<%= quiz.id %>/questions">Manage Questions</a></li>
                    <% if (user.hasRole('admin', 'instructor')) { %>
                        <li class="divider"></li>
                        <li><a href="#">Delete Quiz</a></li>
                    <% } %>
                    </ul>
                </div>
            </td>
        </tr>
    <% }) %>
    </tbody>
</table>

<%- include ./footer -%>