<%- include ../partials/admin-header -%>

<h1>Courses</h1>

<h4 class="todo">@TODO: ability to delete courses</h4>

<% if (user.hasRole('admin')) { %>
    <a class="btn btn-default btn-sm" href="/admin/courses/new">Add New Course</a>
<% } %>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Instructors</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    <% courses.forEach(function (course) { %>
        <tr>
            <td><%= course.code %></td>
            <td><%= course.name %></td>
            <td><%- course.instructors.map(function (instructor) { return instructor.name.full; }).join('<br>') %></td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                        Actions<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="/admin/courses/<%= course.id %>/edit">Edit Course</a></li>
                    
                        <li><a href="/admin/courses/<%= course.id %>/tutorials">Manage Tutorials</a></li>
                        <li><a href="/admin/courses/<%= course.id %>/quizzes">Manage Quizzes</a></li>
                    
                        <li><a href="/admin/courses/<%= course.id %>/files">Manage Files</a></li>
  
                        <li><a href="/admin/courses/<%= course.id %>/students">Manage Students</a></li>
                    
                        <li class="divider"></li>
                        <li><a href="/admin/courses/<%= course.id %>">Delete Course</a></li>
                    
                    </ul>
                </div>
            </td>
        </tr>
    <% }) %>
    </tbody>
</table>

<%- include ../partials/admin-footer -%>