<%- include ./header -%>

<h1><%= course.code + ' - ' + course.name %><br>
<small><%= quiz.isNew ? 'Add new quiz' : 'Edit quiz' %></small></h1>

<%- include ./messages %>

<form action="/admin/courses/<%= course.id %>/quizzes/<%= quiz.isNew ? '' : quiz.id + '?_method=put' %>" 
    method="post" class="form-horizontal">

    <div class="form-group">
        <label class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
            <input type="text" name="name" value="<%= quiz.name %>" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Available to</label>
        <div class="col-sm-10">
            <select name="tutorials[]" multiple class="form-control">
            <% _.each(course.tutorials, function (tutorial) { %>
                <option value="<%= tutorial.id %>"<%= quiz.isNew || quiz.tutorials.indexOf(tutorial.id) !== -1 ? 
                    ' selected' : '' %>>TUT <%= tutorial.number %></option> 
            <% }) %>
            </select>
        </div>
    </div>

    <!-- default question options -->

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <a href="#options" data-toggle="collapse" data-target="#options">Show/hide default question options</a>
        </div>
    </div>

    <div id="options" class="collapse">

        <div class="form-group">
            <label for="question" class="col-sm-2 control-label">Shuffle choices?</label>
            <div class="col-sm-10">
                <input type="checkbox" name="shuffleChoices" value="1" class="bootstrap-switch"<%= 
                    quiz.shuffleChoices ? ' checked' : '' %>>
            </div>
        </div>

        <div class="form-group">
            <label for="question" class="col-sm-2 control-label">Format questions using LaTeX?</label>
            <div class="col-sm-10">
                <input type="checkbox" name="useLaTeX" value="1" class="bootstrap-switch"<%= 
                    quiz.useLaTeX ? ' checked' : '' %>>
            </div>
        </div>

        <div class="form-group">
            <label for="question" class="col-sm-2 control-label">Points possible</label>
            <div class="col-sm-6">
                <input type="number" name="points" value="<%= quiz.points %>" min="0" max="7" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <label for="question" class="col-sm-2 control-label">First-try bonus</label>
            <div class="col-sm-6">
                <input type="number" name="firstTryBonus" value="<%= quiz.firstTryBonus %>" min="0" max="7" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <label for="question" class="col-sm-2 control-label">Penalty per attempt</label>
            <div class="col-sm-6">
                <input type="number" name="penalty" value="<%= quiz.penalty %>" min="0" max="7" class="form-control">
            </div>
        </div>

    </div>

    <div class="form-group" style="margin-top: 30px;">
        <div class="col-sm-offset-2 col-sm-10">
            <a href="/admin/courses/<%= course.id %>/quizzes" class="btn btn-default btn-sm">Cancel</a>
            <button type="submit" class="btn btn-primary btn-sm">Save</button>
        </div>
    </div>

</form>


<%- include ./body-js -%>
<%- include ./footer -%>