<%- include ./header -%>

<ol class="breadcrumb">
    <li><a href="/admin/courses">Courses</a></li>
    <li class="active"><%= course.isNew ? 'New' : 'Edit' %></li>
</ol>

<h1><%= title %></h1>

<%- include ./flash %>

<form action="/admin/courses/<%= course.isNew ? '' : course.id + '?_method=put' %>" 
    method="post" autocomplete="off" class="form-horizontal">
    <div class="form-group required">
        <label class="col-sm-2 control-label">Code</label>
        <div class="col-sm-10">
            <input type="text" name="code" value="<%= course.code %>" class="form-control" maxlength="8">
            <p class="help-block"><span class="glyphicon glyphicon-info-sign"></span> Ex: CSCA48H1</p>
        </div>
    </div>
    <div class="form-group required">
        <label class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
            <input type="text" name="name" value="<%= course.name %>" class="form-control" maxlength="50">
            <p class="help-block"><span class="glyphicon glyphicon-info-sign"></span> Ex: Introduction to Computer Science</p>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <a href="/admin/courses" class="btn btn-default btn-sm">Cancel</a>
            <button type="submit" class="btn btn-primary btn-sm">Save</button>
        </div>
    </div>
</form>

<%- include ./footer -%>