<%- include ./header -%>

<ol class="breadcrumb">
    <li class="active">Courses</li>
</ol>

<h1><%= title %></h1>

<%- include ./flash %>

<% if (user.hasRole('admin')) { %>
<div class="nav-actions">
    <a href="/admin/courses/new" class="btn btn-default btn-sm"><span 
        class="glyphicon glyphicon-plus"></span> Add New Course</a>
</div>
<% } %>

<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 80px">Code</th>
            <th>Name</th>
            <th class="actions"></th>
        </tr>
    </thead>
    <tbody>
    <% if (_.isEmpty(courses)) { %>
        <tr>
            <td colspan="3">No courses have been added yet.</td>
        </tr>
    <% } else { %>
        <% _.each(courses, function (course) { %>
            <tr>
                <td><%= course.code %></td>
                <td><%= course.name %></td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                            Actions<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                        <% if (user.hasRole('admin')) { %>
                            <li><a href="/admin/courses/<%= course.id %>/edit"><span 
                                class="glyphicon glyphicon-pencil"></span> Edit Course</a></li>
                        <% } %>
                            <li><a href="/admin/courses/<%= course.id %>/tutorials"><span 
                                class="glyphicon glyphicon-blackboard"></span> Manage Tutorials</a></li>
                            <li><a href="/admin/courses/<%= course.id %>/quizzes"><span 
                                class="glyphicon glyphicon-list-alt"></span> Manage Quizzes</a></li>
                            <li><a href="/admin/courses/<%= course.id %>/files"><span 
                                class="glyphicon glyphicon-picture"></span> Manage Files</a></li>
                        <% if (user.hasAnyRole(['admin', 'instructor'])) { %>
                            <li><a href="/admin/courses/<%= course.id %>/conduct"><span 
                                class="glyphicon glyphicon-play-circle"></span> Conduct Quizzes</a></li>
                        <% } %>
                        <% if (user.hasRole('admin')) { %>
                            <li><a href="/admin/courses/<%= course.id %>/instructors"><span 
                                class="glyphicon glyphicon-user"></span> Manage Instructors</a></li>
                        <% } %>
                            <li><a href="/admin/courses/<%= course.id %>/teaching-assistants"><span 
                                class="glyphicon glyphicon-user"></span> Manage Teaching Assistants</a></li>
                            <li><a href="/admin/courses/<%= course.id %>/students"><span 
                                class="glyphicon glyphicon-user"></span> Manage Students</a></li>
                        <% if (user.hasRole('admin')) { %>
                            <li class="divider"></li>
                            <li><a href="/admin/courses/<%= course.id %>" class="btn-delete"><span 
                                class="glyphicon glyphicon-remove"></span> Delete Course</a></li>
                        <% } %>
                        </ul>
                    </div>
                </td>
            </tr>
        <% }) %>
    <% } %>
    </tbody>
</table>


<%- include ./body-js -%>

<script>
$(function () {
    $('.btn-delete').click(function (e) {
        e.preventDefault();
        var btn = this;
        $.deletebox({
            title: 'Delete course',
            message: '<p>You are about to delete course and all of its associated information.</p>\
                <p>This action <b>cannot be undone</b>. Do you want to proceed with this action?</p>',
            callback: function () {
                $.delete(btn.href, function () { window.location.reload(true); });
            }
        });
    });
});
</script>

<%- include ./footer -%>