<%- include ../partials/header -%>

<%if (course.name) { %>
<h1><%= course.name %></h1>
<% } %>


<h1>Course.name</h1>
<form action='/admin/courses/<%=course.code || ''%>?_method=<%- method %>' method="POST">
  <div class="form-group">
    <label for="name">Course name</label>
    <input type="text" name="name" class="form-control"
    value = "<%= course.name || '' %>"
    placeholder="Ex: Intro to Computer Science - Fall 2017">
    <label for="code">Course code</label>
    <input type="text" name="code" class="form-control" 
    value = "<%= course.code || '' %>"
    placeholder="Ex: CSCA48">   
    <small id="codeHelp" class="form-text text-muted">This is a unique identifier for your course. It will be used in URL's, for example.</small>
  </div>
  <button type="submit" class="btn btn-primary">Save</button>
</form>
<button class="btn btn-danger">Delete course</button>

<%- include ../partials/footer -%>