<%- include ./header -%>

<h1><%= course.code + ' - ' + course.name %><br><small>Files</small></h1>

<%- include ./messages %>

<a href="/admin/courses/<%= course.id %>/files" class="btn btn-default btn-sm" 
    id="btn-upload-files"><span class="glyphicon glyphicon-plus"></span> Upload Files</button>

<a href="/admin/courses/<%= course.id %>/files" class="btn btn-danger btn-sm pull-right 
    btn-delete<%= course.files.length ? '' : ' disabled' %>" id="btn-delete-files"><span class="glyphicon 
    glyphicon-remove"></span> Delete Files</a>

<br><br>

<table class="table table-striped" id="table-files">
    <thead>
        <tr>
            <th style="width: 10px;"><input type="checkbox" value="1"></th>
            <th>Name</th>
            <th>Type</th>
            <th>Created on</th>
        </tr>
    </thead>
    <tbody>
    <% if (!_.isEmpty(course.files)) { %>
        <% _.each(course.files, function (file) { %>
            <tr>
                <td><input type="checkbox" name="files[]" value="<%= file.id %>"></td>
                <td>
                    <a href="/upl/<%= course.id %>/<%= file.name %>" target="_preview"><%= file.name %></a>
                <% if (file.isImage()) { %>
                    <img src="/upl/<%= course.id %>/<%= file.name %>" class="preview" style="display: none">
                <% } else if (file.isAudio()) { %>
                    <audio controls class="preview" style="display: none">
                        <source src="/upl/<%= course.id %>/<%= file.name %>" type="<%= file.type %>">
                    </audio>
                <% } %>
                </td>
                <td><%= file.type %></td>
                <td><%= moment(file.createdAt).format(dateFormat) %></td>
            </tr>
        <% }) %>
    <% } else { %>
        <tr><td colspan="4">No files have been added yet.</td></tr>
    <% } %>
    </tbody>
</table>

<script type="text/template" id="btn-upload-message-template">
    <button class="btn btn-default btn-block" id="btn-select-files">Select Files</button>
    <input type="file" name="files" multiple id="files" style="display: none">
    <ul class="list-group"></ul>
</script>

<script type="text/template" id="btn-delete-message-template">
    <p>You are about to delete files and all of their associations.</p>
    <p>This action <b>cannot be undone</b>. Do you want to proceed with this action?</p>  
</script>

<%- include ./body-js -%>

<script>
$(function () {
    // open modal for uploading files
    $('#btn-upload-files').click(function (e) {
        e.preventDefault();
        var url = this.href, data = new FormData();
        // open dialog
        bootbox.dialog({
            onEscape: true,
            className: 'modal-upload-files',
            title: 'Select files',
            message: $('#btn-upload-message-template').text(),
            buttons: {
                cancel: {
                    label: 'Cancel',
                    className: 'btn-sm'
                },
                upload: {
                    label: 'Upload files',
                    className: 'btn-default btn-sm',
                    callback: function () {
                        var files = $('#files')[0].files;
                        if (files.length) {
                            // add files
                            for (var i in files) {
                                data.append('files', files[i]);
                            }
                            // send request
                            $.ajax(url, {
                                type: 'post',
                                processData: false,
                                contentType: false,
                                data: data,
                                success: function(res) {
                                    if (res.status) {
                                        window.location.reload(true);
                                    }
                                }
                            });
                        }
                        return false;
                    }
                }
            } // end of buttons
        }); // end of bootbox
    });
    // open file input
    $(document).on('click','#btn-select-files', function (e) {
        $(this).next(':file').click();
    });
    // list files selected by file input
    $(document).on('change', '#files', function (e) {
        var files = this.files;
        $(this).next('.list-group').html(function () {
            return _.map(files, function (file) {
                return '<li class="list-group-item">' + file.name + '</li>';
            });
        });
    });
    // preview image and audio files
    $('#table-files tbody tr:has(.preview) a').on('click', function (e) {
        e.preventDefault();
        bootbox.dialog({
            onEscape: true,
            className: 'modal-preview-file',
            message: $(this).next('.preview').clone().css('display', '')
        });
    });
});
</script>

<%- include ./footer -%>