<%- include ./header -%>

<h1>Help</h1>

<div class="toc">
<% _.each(sections, function (section) { %>
    <h4><%= section[0] %></h4>
    <% if (_.isArray(section[1])) { %>
        <ul>
        <% _.each(section[1], function (question) { %>
            <li><a href="#<%= _.kebabCase(question[0]) %>"><%- question[0] %></a></li>
        <% }) %>
        </ul>
    <% } %>
<% }) %>
</div>

<% _.each(sections, function (section) { %>
    <h3><%= section[0] %></h3>
    <% if (_.isArray(section[1])) { %>
        <% _.each(section[1], function (question) { %>
            <h4 id="<%= _.kebabCase(question[0]) %>"><%- question[0] %></h4>
            <% if (_.isArray(question[1])) { %>
                <ol>
                <% _.each(question[1], function (step) { %>
                    <li><%- step %></li>
                <% }) %>
                </ol>
            <% } %>
        <% }) %>
    <% } %>
<% }) %>

<%- include ./body-js -%>
<%- include ./footer -%>