<%- include ../partials/admin-header -%>

<h1><%= question.isNew ? 'Add new question' : 'Edit question' %></h1>

<form id="question-form" action="/admin/courses/<%= course.id %>/quizzes/<%= quiz.id %>/questions/<%= 
    question.isNew ? '' : question.id + '?_method=put' %>" method="post" class="form-horizontal">
    
    
    <div class="form-group">
        <label for="type" class="col-sm-2 control-label">Type</label>
        <div class="col-sm-10">
            <% if (question.isNew) { %>
                <select name="type" class="form-control">
                <% ['MultipleChoice', 'TrueOrFalse'].forEach(function (type) { %>
                    <option><%= type %></option>            
                <% }) %>
                </select>
            <% } else { %>
                <input type="text" value="<%= question.type %>" class="form-control" disable readonly>
            <% } %>
        </div>
    </div>
    

    <div class="form-group">
        <label for="question" class="col-sm-2 control-label">Question</label>
        <div class="col-sm-10">
            <textarea name="question" class="form-control" rows="3"><%= question.question %></textarea>
        </div>
    </div>

    <!-- files -->

    <div class="form-group">
        <label for="type" class="col-sm-2 control-label">Attachments</label>
        <div class="col-sm-10">
            <% question.files.forEach(function (file) { %>
                <div>
                    <span><%= file.name %></span>
                    <input type="hidden" name="files[]" value="<%= file.id %>">
                </div>
            <% }) %>
            <a href="#" class="add-files" data-toggle="modal" data-target="#file-modal">Files</a>
        </div>
    </div>

    <!-- choices -->

    <div class="form-group">
        <label for="question" class="col-sm-2 control-label">Choices</label>
        <% if (question.isNew) { %>
            <div class="col-sm-10 MultipleChoice" style="display: none;">
                <% for (var i = 0, len = 3; i < 3; i++) { %>    
                    <div class="form-group">
                        <div class="col-xs-8"> 
                            <textarea name="choices[<%= i %>]" class="form-control" rows="1" disabled></textarea>
                        </div>
                        <div class="col-xs-4">
                            <a href="#" class="mark-answer">Mark as an answer</a><br>
                            <a href="#" class="remove-choice">Remove choice</a>
                            <input type="checkbox" name="answers[<%= i %>]" value="1" disabled style="display: none;">
                        </div>
                    </div>
                <% } %>
                <div class="form-group">
                    <div class="col-sm-10">
                        <a href="#" id="add-choice">Add another choice</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-10 TrueOrFalse" style="display: none;">
                <% ['True', 'False'].forEach(function (choice, i) { %>    
                    <div class="form-group">
                        <div class="col-xs-8"> 
                            <input name="choices[]" value="<%= choice %>" class="form-control" disabled>
                        </div>
                        <div class="col-xs-4">
                        <% if (i === 0) { %>
                            <a href="#" class="mark-answer" style="display: none;">Mark as the answer</a>
                            <input type="radio" name="answer" value="<%= i %>" disabled style="display: none;">
                        <% } else { %>
                            <a href="#" class="mark-answer">Mark as the answer</a>
                            <input type="radio" name="answer" value="<%= i %>" disabled style="display: none;">
                        <% } %>
                        </div>
                    </div>
                <% }) %>
            </div>
        <% } else if (question.type === 'MultipleChoice') { %>
            <div class="col-sm-10 MultipleChoice">
                <% question.choices.forEach(function (choice, i) { %>    
                    <div class="form-group">
                        <div class="col-xs-8"> 
                            <textarea name="choices[<%= i %>]" class="form-control" rows="1"><%= choice %></textarea>
                        </div>
                        <div class="col-xs-4">
                        <% if (question.answers.indexOf(i) !== -1) { %>
                            <a href="#" class="mark-answer">Un-mark as an answer</a><br>
                            <a href="#" class="remove-choice">Remove choice</a>
                            <input type="checkbox" name="answers[<%= i %>]" value="1" checked style="display: none;">
                        <% } else { %>
                            <a href="#" class="mark-answer">Mark as an answer</a><br>
                            <a href="#" class="remove-choice">Remove choice</a>
                            <input type="checkbox" name="answers[<%= i %>]" value="1" style="display: none;">
                        <% } %>
                        </div>
                    </div>
                <% }) %>
                <div class="form-group">
                    <div class="col-sm-10">
                        <a href="#" id="add-choice">Add another choice</a>
                    </div>
                </div>
            </div>
        <% } else if (question.type === 'TrueOrFalse') { %>
            <div class="col-sm-10 TrueOrFalse">
                <% question.choices.forEach(function (choice, i) { %>
                    <div class="form-group">
                        <div class="col-xs-8"> 
                            <input name="choices[]" value="<%= choice %>" class="form-control">
                        </div>
                        <div class="col-xs-4">
                        <% if (i === question.answer) { %>
                            <a href="#" class="mark-answer" style="display: none;">Mark as the answer</a>
                            <input type="radio" name="answer" value="<%= i %>" style="display: none;">
                        <% } else { %>
                            <a href="#" class="mark-answer">Mark as the answer</a>
                            <input type="radio" name="answer" value="<%= i %>" style="display: none;">
                        <% } %>
                        </div>
                    </div>
                <% }) %>
            </div>
        <% } %>
    </div>

    <div class="form-group">
        <label for="question" class="col-sm-2 control-label">Randomize choices</label>
        <div class="col-sm-10">
            <label class="radio-inline">
                <input type="radio" name="randomizeChoices" value="0"<%= question.randomizeChoices ? 
                    '' : ' checked' %>>No
            </label>
            <label class="radio-inline">
                <input type="radio" name="randomizeChoices" value="1"<%= question.randomizeChoices ? 
                    ' checked' : '' %>>Yes
            </label>
        </div>
    </div>
    <div class="form-group">
        <label for="question" class="col-sm-2 control-label">Format using LaTeX</label>
        <div class="col-sm-10">
            <label class="radio-inline">
                <input type="radio" name="useLaTeX" value="0"<%= question.useLaTeX ? '' : ' checked' %>>No
            </label>
            <label class="radio-inline">
                <input type="radio" name="useLaTeX" value="1"<%= question.useLaTeX ? ' checked' : '' %>>Yes
            </label>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <a href="/admin/courses/<%= course.id %>/quizzes/<%= quiz.id %>/questions" class="btn btn-default btn-sm">Cancel</a>
            <button type="submit" class="btn btn-primary btn-sm">Save</button>
        </div>
    </div>
</form>

<!-- modals -->

<% include ../partials/file-modal %>

<!-- templates -->

<script type="text/template" id="MultipleChoiceTemplate">
    <div class="form-group">
        <div class="col-xs-8"> 
            <textarea name="choices[${ id }]" class="form-control" rows="1"></textarea>
        </div>
        <div class="col-xs-4">
            <a href="#" class="mark-answer">Mark as an answer</a><br>
            <a href="#" class="remove-choice">Remove choice</a>
            <input type="checkbox" name="answers[${ id }]" value="1" style="display: none;">
        </div>
    </div>
</script>


<%- include ../partials/admin-footer -%>