<%- include ./header -%>

<h1>Questions</h1>
<h4 class="todo">@TODO: maybe render latex</h4>

<a href="/admin/courses/<%= course.id %>/quizzes/<%= quiz.id %>/questions/sort" 
    class="btn btn-default btn-sm" id="btn-sort-questions">Sort Questions</a>

<a href="/admin/courses/<%= course.id %>/quizzes/<%= quiz.id %>/questions/new"
    class="btn btn-default btn-sm">Add New Question</a>

<table class="table table-striped" id="table-questions">
    <thead>
        <tr>
            <th style="width: 10px;">No.</th>
            <th style="max-width: 250px;">Question</th>
            <th></th>
        </tr>
    </thead>
    <tbody class="sortable">
    <% for (var i = 0, len = quiz.questions.length; i < len; i++) { %>
        <tr data-id="<%= quiz.questions[i].id %>">
            <td style="width: 10px;"><%= quiz.questions[i].number %>.</td>
            <td style="max-width: 250px;"><%= quiz.questions[i].question %></td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                        Actions<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <!--li><a href="/admin/courses/<%= course.id %>/quizzes/<%= quiz.id %>/questions/<%= quiz.questions[i].id %>/view">View Question</a></li-->
                        <li><a href="/admin/courses/<%= course.id %>/quizzes/<%= quiz.id %>/questions/<%= quiz.questions[i].id %>/edit">Edit Question</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Delete Question</a></li>
                    </ul>
                </div>
            </td>
        </tr>
    <% } %>
    </tbody>
</table>

<%- include ./footer -%>