<%- include ./header -%>

<h1>Questions</h1>
<h4 class="todo">@TODO: ability to sort questions</h4>
<h4 class="todo">@TODO: maybe render latex</h4>

<a class="btn btn-default btn-sm" 
    href="/admin/courses/<%= course.id %>/quizzes/<%= quiz.id %>/questions/new">Add New Question</a>

<table class="table table-striped sortable">
    <thead>
        <tr>
            <th><input type="checkbox" value="1"></th>
            <th>Question</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    <% quiz.questions.forEach(function (question) { %>
        <tr data-id="<%= question.id %>">
            <td><input type="checkbox" name="questions[]" value="<%= question.id %>"></td>
            <td><%= question.question %></td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                        Actions<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <!--li><a href="/admin/courses/<%= course.id %>/quizzes/<%= quiz.id %>/questions/<%= question.id %>/view">View Question</a></li-->
                        <li><a href="/admin/courses/<%= course.id %>/quizzes/<%= quiz.id %>/questions/<%= question.id %>/edit">Edit Question</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Delete Question</a></li>
                    </ul>
                </div>
            </td>
        </tr>
    <% }) %>
    </tbody>
</table>

<%- include ./footer -%>