<%- include ./header -%>






<div class="row">
    <div class="col-sm-3">
        <label class="col-xs-4 col-sm-12 control-label">Published?</label>
        <div class="col-xs-8 col-sm-12">
            <input type="checkbox" id="publish-tutorial-quiz" value="1" class="bootstrap-switch"<%= 
                tutorialQuiz.published ? ' checked' : '' %>>
        </div>
    </div>
    <div class="col-sm-3">
        <label class="col-xs-4 col-sm-12 control-label">Active?</label>
        <div class="col-xs-8 col-sm-12">
            <input type="checkbox" id="activate-tutorial-quiz" value="1" class="bootstrap-switch"<%= 
                tutorialQuiz.active ? ' checked' : '' %>>
        </div>
    </div>
    <div class="col-sm-6"></div>
</div>



<h1>Groups</h1>

<form action="/admin/courses/<%= course.id %>/tutorial-quizzes/<%= tutorialQuiz.id %>_method=put" 
    method="post" id="form-quiz-groups">
    <div class="row-head">
        <button type="button" class="btn btn-default btn-sm" id="btn-add-group"><span 
        class="glyphicon glyphicon-plus"></span> Add group</button>
        <button type="submit" class="btn btn-default btn-sm btn-primary pull-right" id="btn-save-groups">Save</button>
        <table>
            <tr>
                <th rowspan="2" class="s">&nbsp;</th>
                <th colspan="<%= 1 + tutorialQuiz.groups.length %>">Groups</th>
            </tr>
            <tr>
                <th class="u">Unassigned</th>
            <% _.each(tutorialQuiz.groups, function (group) { %>
                <th class="g"><%= group.name %></th>
            <% }) %>
            </tr>
        </table>
    </div>
    <div class="row-body">
        <table>
        <% _.each(tutorialQuiz.tutorial.students, function (student) { %>
            <tr>
                <td class="s"><%= student.name.full %></td>
                <td class="u"><input type="radio" name="groups[<%= student.id %>]" value="unassigned"<%=
                    !_.find(tutorialQuiz.groups, function (group) { 
                        return group.members.indexOf(student.id) !== -1;
                    }) ? ' checked' : '' %>></td>
                <% _.each(tutorialQuiz.groups, function (group) { %>
                    <td class="g"><input type="radio" name="groups[<%= student.id %>]" value="<%= group.id %>"<%=
                        group.members.indexOf(student.id) !== -1 ? ' checked' : '' %>></td>
                <% }) %>
            </tr>
        <% }) %>
        </table>
    </div>
</form>

<script type="text/template" id="panel-group-template">
    <div class="panel panel-default" data-group-id="new">
        <div class="panel-heading" data-parent="#panel-groups" data-target="#group-${ id }">
            <h4 class="panel-title">New group</h4>
            <a href="#" class="btn btn-defaut"><span class="glyphicon glyphicon-remove"></span> Delete Group</a>
        </div>
        <div id="group-${ id }" class="panel-collapse collapse in">
            <div class="panel-body sortable"></div>
        </div>
    </div>
</script>

<!--input type="hidden" id="save-groups-url" 
    value="/admin/courses/<%= course.id %>/tutorial-quizzes/<%= tutorialQuiz.id %>/groups/save"-->

<input type="hidden" id="publish-tutorial-quiz-url" 
    value="/admin/courses/<%= course.id %>/tutorial-quizzes/<%= tutorialQuiz.id %>/publish">
<input type="hidden" id="activate-tutorial-quiz-url" 
    value="/admin/courses/<%= course.id %>/tutorial-quizzes/<%= tutorialQuiz.id %>/activate">


<%- include ./footer -%>