<%- include ./header -%>

<ol class="breadcrumb">
    <li><a href="/admin/courses">Courses</a> ‐ <%= course.code %></li>
    <li><a href="/admin/courses/<%= course.id %>/quizzes">Quizzes</a> ‐ <%= quiz.name %></li>
    <li><a href="/admin/courses/<%= course.id %>/quizzes/<%= quiz.id %>/questions">Questions</a></li>
    <li class="active"><%- question.isNew ? 'New' : 'Edit' %></li>
</ol>

<h1><%= title %></h1>

<%- include ./flash %>

<form id="form-question" action="/admin/courses/<%= course.id %>/quizzes/<%= quiz.id %>/questions/<%= 
    question.isNew ? '' : question.id + '?_method=put' %>" method="post" autocomplete="off" class="form-horizontal">
    <div class="form-group required">
        <label class="col-sm-2 control-label">Number</label>
        <div class="col-sm-2">
            <input name="number" value="<%= question.number %>" maxlength="6" class="form-control">
            <p class="help-block"><span class="glyphicon glyphicon-info-sign"></span> Ex: 1, A or 1a</p>
        </div>
    </div>
    <div class="form-group required">
        <label class="col-sm-2 control-label">Question</label>
        <div class="col-sm-10">
            <textarea name="question" class="form-control" rows="3"><%= question.question %></textarea>
        </div>
    </div>
    <div class="form-group required">
        <label class="col-sm-2 control-label">Type</label>
        <div class="col-sm-10">
            <select name="type" class="form-control">
            <% _.each(question.schema.path('type').enumValues, function (type) { %>
                <option value="<%= type %>"<%= question.type === type ? 
                    ' selected' : '' %>><%= _.upperFirst(type) %></option>            
            <% }) %>
            </select>
        </div>
    </div>
    <!-- files -->
    <div class="form-group">
        <label class="col-sm-2 control-label">Files</label>
        <div class="col-sm-10">
            <a href="#" class="btn btn-default btn-sm" data-toggle="modal" data-target="#modal-show-files">
                <span class="glyphicon glyphicon-file"></span> Show files</a>
            <%- include ./modals/show-files %>
        </div>
    </div>
    <!-- links -->
    <div class="form-group">
        <label class="col-sm-2 control-label">Links</label>
        <div class="col-sm-10">
            <a href="#" class="btn btn-default btn-sm" data-toggle="modal" data-target="#modal-show-links">
                <span class="glyphicon glyphicon-link"></span> Show links</a>
            <%- include ./modals/show-links %>
        </div>
    </div>

    <!-- choices -->
    <div class="form-group required">


        <!-- for multiple choice -->
        <% if (question.isNew || !question.isMultipleChoice()) { %>
        <div data-type="multiple-choice" style="display: none;">
            <label class="col-sm-2 control-label">Choices &amp; Answer</label>
            <div class="col-sm-10">
            <% for (var i = 0, len = 3; i < 3; i++) { %>    
                <div class="form-group">
                    <div class="col-xs-8"> 
                        <textarea name="choices[<%= i %>]" class="form-control" rows="1" disabled></textarea>
                    </div>
                    <div class="col-xs-4 radio">
                        <label><input type="radio" name="answer[multiple-choice]" value="<%= i %>" disabled<%= 
                            !i ? ' checked' : '' %>></label>
                        <span class="glyphicon glyphicon-remove"></span> 
                    </div>
                </div>
            <% } %>
        <% } else { %>
        <div data-type="multiple-choice">
            <label class="col-sm-2 control-label">Choices &amp; Answer</label>
            <div class="col-sm-10">
            <% _.each(question.choices, function (choice, i) { %>    
                <div class="form-group">
                    <div class="col-xs-8"> 
                        <textarea name="choices[<%= i %>]" class="form-control" rows="1"><%= choice %></textarea>
                    </div>
                    <div class="col-xs-4 radio">
                        <label><input type="radio" name="answer[multiple-choice]" 
                            value="<%= i %>"<%= question.isAnswer(choice) ? ' checked' : '' %>></label>
                        <span class="glyphicon glyphicon-remove"></span> 
                    </div>
                </div>
            <% }) %>
        <% } %>
                <div class="form-group">
                    <div class="col-sm-10">
                        <button type="button" class="btn btn-default btn-sm btn-add-choice">
                            <span class="glyphicon glyphicon-plus"></span> Add another choice
                        </button>
                    </div>
                </div>
                <div class="form-group" style="display: none">
                    <div class="col-xs-8"> 
                        <textarea name="choices[new]" class="form-control" rows="1"></textarea>
                    </div>
                    <div class="col-xs-4 radio">
                        <label>
                            <input type="radio" name="answer[multiple-choice]" value="new">
                            <span class="glyphicon glyphicon-remove"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>


        <!-- for multiple select -->
        <% if (question.isNew || !question.isMultipleSelect()) { %>
        <div data-type="multiple-select" style="display: none;">
            <label class="col-sm-2 control-label">Choices &amp; Answers</label>
            <div class="col-sm-10">
            <% for (var i = 0, len = 3; i < 3; i++) { %>    
                <div class="form-group">
                    <div class="col-xs-8"> 
                        <textarea name="choices[<%= i %>]" class="form-control" rows="1" disabled></textarea>
                    </div>
                    <div class="col-xs-4 checkbox">
                        <label><input type="checkbox" name="answers[multiple-select][]" value="<%= i %>" disabled></label>
                        <span class="glyphicon glyphicon-remove"></span>
                    </div>
                </div>
            <% } %>
        <% } else { %>
        <div data-type="multiple-select">
            <label class="col-sm-2 control-label">Choices &amp; Answers</label>
            <div class="col-sm-10">
            <% _.each(question.choices, function (choice, i) { %>    
                <div class="form-group">
                    <div class="col-xs-8"> 
                        <textarea name="choices[<%= i %>]" class="form-control" rows="1"><%= choice %></textarea>
                    </div>
                    <div class="col-xs-4 checkbox">
                        <label><input type="checkbox" name="answers[multiple-select][]" value="<%= i %>"<%= 
                            question.isAnswer(choice) ? ' checked' : '' %>></label>
                        <span class="glyphicon glyphicon-remove"></span>
                    </div>
                </div>
            <% }) %> 
        <% } %>
                <div class="form-group">
                    <div class="col-sm-10">
                        <button type="button" class="btn btn-default btn-sm btn-add-choice">
                            <span class="glyphicon glyphicon-plus"></span> Add another choice
                        </button>
                    </div>
                </div>
                <div class="form-group" style="display: none">
                    <div class="col-xs-8"> 
                        <textarea name="choices[new]" class="form-control" rows="1"></textarea>
                    </div>
                    <div class="col-xs-4 checkbox">
                        <label><input type="checkbox" name="answers[multiple-select][]" value="new"></label>
                        <span class="glyphicon glyphicon-remove"></span>
                    </div>
                </div>
            </div>
        </div>


        <!-- for short answer -->
        <% if (question.isNew || !question.isShortAnswer()) { %>
        <div data-type="short-answer" style="display: none;">
            <label class="col-sm-2 control-label">Acceptable Answers</label>
            <div class="col-sm-10">
            <% for (var i = 0, len = 3; i < 3; i++) { %>
                <div class="form-group">
                    <div class="col-xs-8"> 
                        <textarea name="choices[<%= i %>]" class="form-control" rows="1" disabled></textarea>
                    </div>
                    <div class="col-xs-4">
                        <span class="glyphicon glyphicon-remove"></span>
                    </div>
                </div>
            <% } %>
        <% } else { %>
        <div data-type="short-answer">
            <label class="col-sm-2 control-label">Acceptable Answers</label>
            <div class="col-sm-10">
            <% _.each(question.choices, function (choice, i) { %>    
                <div class="form-group">
                    <div class="col-xs-8"> 
                        <textarea name="choices[<%= i %>]" class="form-control" rows="1"><%= choice %></textarea>
                    </div>
                    <div class="col-xs-4">
                        <span class="glyphicon glyphicon-remove"></span>
                    </div>
                </div>
            <% }) %> 
        <% } %>
                <div class="form-group">
                    <div class="col-sm-10">
                        <button type="button" class="btn btn-default btn-sm btn-add-choice">
                            <span class="glyphicon glyphicon-plus"></span> Add another correct answer
                        </button>
                    </div>
                </div>
                <div class="form-group" style="display: none">
                    <div class="col-xs-8"> 
                        <textarea name="choices[new]" class="form-control" rows="1"></textarea>
                    </div>
                    <div class="col-xs-4">
                        <span class="glyphicon glyphicon-remove"></span>
                    </div>
                </div>
            </div>
            <label class="col-sm-2 control-label">Case-sensitive</label>
            <div class="form-group">    
                <div class="col-sm-6">
                    <input type="checkbox" name="caseSensitive" value="1" class="bootstrap-switch"<%= 
                        question.caseSensitive ? ' checked' : '' %>>
                </div>
            </div>
        </div>
    </div>


    <!-- options -->
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <a href="#options" data-toggle="collapse" data-target="#options">Show/hide additional options</a>
        </div>
    </div>
    <div id="options" class="collapse">
        <div class="form-group">
            <label class="col-sm-2 control-label">Shuffle choices?</label>
            <div class="col-sm-6">
                <input type="checkbox" name="shuffleChoices" value="1" class="bootstrap-switch"<%= 
                    _.defaultTo(question.shuffleChoices, quiz.shuffleChoices) == 1 ? ' checked' : '' %> >
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Format using LaTeX?</label>
            <div class="col-sm-6">
                <input type="checkbox" name="useLaTeX" value="1"  class="bootstrap-switch"<%= 
                    _.defaultTo(question.useLaTeX, quiz.useLaTeX) == 1 ? ' checked' : '' %>>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Points possible</label>
            <div class="col-sm-6">
                <input type="number" name="points" value="<%= 
                    _.defaultTo(question.points, quiz.points) %>" min="0" max="7" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">First-try bonus</label>
            <div class="col-sm-6">
                <input type="number" name="firstTryBonus" value="<%= 
                    _.defaultTo(question.firstTryBonus, quiz.firstTryBonus) %>" min="0" max="7" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Penalty per attempt</label>
            <div class="col-sm-6">
                <input type="number" name="penalty" value="<%= 
                    _.defaultTo(question.penalty, quiz.penalty) %>" min="0" max="7" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-6" id="points-calculator"></div>
        </div>
    </div>
    <div class="form-group" style="margin-top: 30px;">
        <div class="col-sm-offset-2 col-sm-10">
            <a href="/admin/courses/<%= course.id %>/quizzes/<%= quiz.id %>/questions" class="btn btn-default btn-sm">Cancel</a>
            <button type="button" class="btn btn-default btn-sm" id="btn-preview">Preview</button>
            <% if (question.isNew) { %>
                <input type="hidden" id="back" name="back" value="1">
                <button type="submit" class="btn btn-primary btn-sm" onclick="back.value=0">Save &amp; Add Another New Question</button>
                <button type="submit" class="btn btn-primary btn-sm">Save &amp; Go Back To Previous Page</button>
            <% } else { %>
                <button type="submit" class="btn btn-primary btn-sm">Save</button>
            <% } %>
        </div>
    </div>
</form>

<%- include ./body-js -%>

<script>
$(function () {
    var win;
    // show choices based on question type
    $('#form-question [name=type]').change(function () {
        var type = _.kebabCase(this.value);
        // show related items for type; hide otherwise
        $('div[data-type]').each(function () {
            var $col = $(this);
            $col.enableToggle($col.data('type') === type);
        });
    }).change();
    // toggle checkboxes for selecting/unselecting files
    $('#modal-show-files .list-group-item :checkbox').click(function () {
        $(this).closest('.list-group-item').toggleClass('active', this.checked);
    });
    // open media in preview window
    $('#modal-show-files .list-group-item:has(.preview) a').click(function (e) {
        e.preventDefault();
        $(this).closest('.modal-body').find('.col-preview').html(
            $(this).next('.preview').clone().css('display', '')
        );
    });
    // change file counter
    $('#modal-show-files').on('hidden.bs.modal', function () {
        var count = $(this).find(':checked').length;
        $('#file-counter').text(count !== 1 ? count + ' files selected' : '1 file selected');
    });
    // add new link input
    $('#btn-add-link').click(function () {
        $(this).closest('.form-group').before(function () {
            var id = _.toNumber(_.uniqueId()) + 999;
            var $new = $(this).next().clone().toggle(true);
            return $new;
        });
    });
    // change link counter
    $('#modal-show-links').on('hidden.bs.modal', function () {
        var count = 0;
        $(this).find('[name^=links]').each(function() { 
            count += $.trim(this.value) !== '' ? 1 : 0;
        });
        $('#link-counter').text(count + ' link' + (count !== 1 ? 's' : '') + ' added');
    });
    // remove choice input
    $(document).on('click', '.glyphicon-remove', function () {
        $(this).closest('.form-group').remove();
    });
    // add choice input
    $('.btn-add-choice').click(function () {
        $(this).closest('.form-group').before(function () {
            var id = _.toNumber(_.uniqueId()) + 999;
            var $new = $(this).next().clone().toggle(true);
                $new.find('textarea').attr('name', function () {
                    return this.name.replace(/new/, id);
                });
                $new.find(':radio, :checkbox').val(function () {
                    return this.value.replace(/new/, id);
                });
            return $new;
        });
    });
    //
    $(document).on('change', '[name=points], [name=firstTryBonus], [name=penalty]', function () {
        var points = _.defaultTo(_.toNumber($('[name=points]').val()), 0), 
            firstTryBonus = _.defaultTo(_.toNumber($('[name=firstTryBonus]').val()), 0),
            penalty = _.defaultTo(_.toNumber($('[name=penalty]').val()), 0);
        var table = '';

        if (points > 0 && penalty > 0) {
            var attempts = [];
            // bug: flawed point system
            var first = true;
            while (points > 0) {
                if (first) {
                    attempts.push(points + firstTryBonus);
                    first = false;
                } else {
                    attempts.push(points);
                }
                points -= penalty;
            }

            table  = '<table class="table table-striped table-bordered" style="min-width: auto; width: 200px">';
            for (var j = 0, len = attempts.length; j < len; j++)
                table += '<tr><td>Attempt #' + (j + 1) + '</td><td>' + attempts[j] + '</td></tr>';
            table += '</table>';
        }
        // add table
        $('#points-calculator').html(table);
    });
    // preview question
    $('#btn-preview').click(function () {
        // close previous window
        if (win) {
            win.close();
        }
        $.ajax('/admin/courses/<%- course.id %>/quizzes/<%- quiz.id %>/questions/preview', {
            type: 'post',
            data: $(this).closest('form').serialize(),
            dataType: 'html',
            success: function (res) {
                // open new window
                win = window.open('', '_preview', 'width=800, height=600');
                win.document.write(res);
                win.document.close();
            }
        });
    });
});    
</script>

<%- include ./footer -%>