<%- include ../partials/admin-header -%>

<h1><%= question.isNew ? 'Add new question' : 'Edit question' %></h1>

<h4 class="todo">@TODO: ability to add/remove items</h4>

<form id="question-form" action="/admin/courses/<%= course.id %>/quizzes/<%= quiz.id %>/questions/<%= 
    question.isNew ? '' : question.id + '?_method=put' %>" method="post" class="form-horizontal">
    
    <div class="form-group">
        <label for="question" class="col-sm-2 control-label">Question</label>
        <div class="col-sm-10">
            <textarea name="question" class="form-control" rows="3"><%= question.question %></textarea>
        </div>
    </div>

    <div class="form-group">
        <label for="type" class="col-sm-2 control-label">Type</label>
        <div class="col-sm-10">
            <select name="type" class="form-control">
            <% question.schema.path('type').enumValues.forEach(function (type) { %>
                <option value="<%= type %>"<%= question.type === type ? 
                    ' selected' : '' %>><%= _.upperFirst(type) %></option>            
            <% }) %>
            </select>
        </div>
    </div>

    <!-- files -->

    <div class="form-group">
        <label for="type" class="col-sm-2 control-label">Media</label>
        <div class="col-sm-10">
            <select name="files[]" multiple size="2" class="form-control">
            <% course.files.forEach(function (file) { %>
                <option value="<%= file.id %>"<%= false /* to fix */ ? 
                    ' selected' : '' %>><%= file.name %></option>
            <% }) %>  
            </select>
        </div>
    </div>

    <!-- choices -->

    <div class="form-group">
        <label for="question" class="col-sm-2 control-label">Choices</label>

        <!-- for multiple choice -->

        <% if (question.isNew || question.type !== 'multiple choice') { %>
            <div class="col-sm-10 multiple-choice" style="display: none;">
                <% for (var i = 0, len = 3; i < 3; i++) { %>    
                    <div class="form-group">
                        <div class="col-xs-8"> 
                            <textarea name="choices[<%= i %>]" class="form-control" rows="1" disabled></textarea>
                        </div>
                        <div class="col-xs-4 radio">
                            <label><input type="radio" name="answer[multiple-choice]" value="<%= i %>" disabled<%= 
                                !i ? ' checked' : '' %>></label>
                        </div>
                    </div>
                <% } %>
                <div class="form-group">
                    <div class="col-sm-10">
                        <button type="button" class="btn btn-default btn-sm add-item">
                            <span class="glyphicon glyphicon-plus"></span> Add choice
                        </button>
                    </div>
                </div>
            </div>
        <% } else { %>
            <div class="col-sm-10 multiple-choice">
                <% question.choices.forEach(function (choice, i) { %>    
                    <div class="form-group">
                        <div class="col-xs-8"> 
                            <textarea name="choices[<%= i %>]" class="form-control" rows="1"><%= choice %></textarea>
                        </div>
                        <div class="col-xs-4 radio">
                            <label><input type="radio" name="answer[multiple-choice]" 
                                value="<%= i %>"<%= question.answers.indexOf(i) !== -1 ? ' checked' : '' %>></label>
                        </div>
                    </div>
                <% }) %>
                <div class="form-group">
                    <div class="col-sm-10">
                        <button type="button" class="btn btn-default btn-sm add-item">
                            <span class="glyphicon glyphicon-plus"></span> Add choice
                        </button>
                    </div>
                </div>
            </div>
        <% } %>

        <!-- for true or false -->
        
        <% if (question.isNew || question.type !== 'true or false') { %>
            <div class="col-sm-10 true-or-false" style="display: none;">
                <% ['True', 'False'].forEach(function (choice, i) { %>    
                    <div class="form-group">
                        <div class="col-xs-8"> 
                            <input name="choices[<%= i %>]" value="<%= choice %>" class="form-control" disabled>
                        </div>
                        <div class="col-xs-4 radio">
                            <label><input type="radio" name="answer[true-or-false]" value="<%= i %>" disabled<%= 
                                !i ? ' checked' : '' %>></label>
                        </div>
                    </div>
                <% }) %>
            </div>
        <% } else { %>
            <div class="col-sm-10 true-or-false">
                <% question.choices.forEach(function (choice, i) { %>
                    <div class="form-group">
                        <div class="col-xs-8"> 
                            <input name="choices[<%= i %>]" value="<%= choice %>" class="form-control">
                        </div>
                        <div class="col-xs-4 radio">
                            <label><input type="radio" name="answer[true-or-false]" value="<%= i %>"<%= 
                                question.answers.indexOf(i) !== -1 ? ' checked' : '' %>></label>
                        </div>
                    </div>
                <% }) %>
            </div>
        <% } %>

        <!-- for multiple select -->

        <% if (question.isNew || question.type !== 'multiple select') { %>
            <div class="col-sm-10 multiple-select" style="display: none;">
                <% for (var i = 0, len = 3; i < 3; i++) { %>    
                    <div class="form-group">
                        <div class="col-xs-8"> 
                            <textarea name="choices[<%= i %>]" class="form-control" rows="1" disabled></textarea>
                        </div>
                        <div class="col-xs-4 checkbox">
                            <label><input type="checkbox" name="answers[multiple-select][]" value="<%= i %>" disabled></label>
                        </div>
                    </div>
                <% } %>
                <div class="form-group">
                    <div class="col-sm-10">
                        <button type="button" class="btn btn-default btn-sm add-item">
                            <span class="glyphicon glyphicon-plus"></span> Add choice
                        </button>
                    </div>
                </div>
            </div>
        <% } else { %>
            <div class="col-sm-10 multiple-select">
                <% question.choices.forEach(function (choice, i) { %>    
                    <div class="form-group">
                        <div class="col-xs-8"> 
                            <textarea name="choices[<%= i %>]" class="form-control" rows="1"><%= choice %></textarea>
                        </div>
                        <div class="col-xs-4 checkbox">
                            <label><input type="checkbox" name="answers[multiple-select][]" value="<%= i %>"<%= 
                                question.answers.indexOf(i) !== -1 ? ' checked' : '' %>></label>
                        </div>
                    </div>
                <% }) %>
                <div class="form-group">
                    <div class="col-sm-10">
                        <button type="button" class="btn btn-default btn-sm add-item">
                            <span class="glyphicon glyphicon-plus"></span> Add choice
                        </button>
                    </div>
                </div>
            </div>
        <% } %>
    </div>

    <div class="form-group">
        <label for="question" class="col-sm-2 control-label">Format using LaTeX?</label>
        <div class="col-sm-10">
            <label class="radio-inline">
                <input type="radio" name="useLaTeX" value="0"<%= question.useLaTeX ? '' : ' checked' %>>No
            </label>
            <label class="radio-inline">
                <input type="radio" name="useLaTeX" value="1"<%= question.useLaTeX ? ' checked' : '' %>>Yes
            </label>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <a href="/admin/courses/<%= course.id %>/quizzes/<%= quiz.id %>/questions" class="btn btn-default btn-sm">Cancel</a>
            <button type="submit" class="btn btn-primary btn-sm">Save</button>
        </div>
    </div>
</form>

<!-- modals -->

<% include ../partials/file-modal %>

<!-- templates -->

<script type="text/template" id="MultipleChoiceTemplate">
    <div class="form-group">
        <div class="col-xs-8"> 
            <textarea name="choices[${ id }]" class="form-control" rows="1"></textarea>
        </div>
        <div class="col-xs-4">
            <a href="#" class="mark-answer">Mark as an answer</a><br>
            <a href="#" class="remove-choice">Remove choice</a>
            <input type="checkbox" name="answers[${ id }]" value="1" style="display: none;">
        </div>
    </div>
</script>


<%- include ../partials/admin-footer -%>