<%- include ./header -%>

<h1>Questions</h1>
<h4 class="todo">@TODO: ability to sort questions</h4>
<h4 class="todo">@TODO: maybe render latex</h4>

<a class="btn btn-default btn-sm" 
    href="/admin/courses/<%= course.id %>/quizzes/<%= quiz.id %>/questions/new">Add New Question</a>

<button class="btn btn-default btn-sm">Add New Questions</button>

<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 10px;">#</th>
            <th style="max-width: 250px;">Question</th>
            <th></th>
        </tr>
    </thead>
    <tbody class="sortable">
    <% quiz.questions.forEach(function (question, i) { %>
        <tr data-id="<%= question.id %>">
            <td style="width: 10px;"><%= i + 1 %>.</td>
            <td style="max-width: 250px;"><%= question.question %></td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                        Actions<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <!--li><a href="/admin/courses/<%= course.id %>/quizzes/<%= quiz.id %>/questions/<%= question.id %>/view">View Question</a></li-->
                        <li><a href="/admin/courses/<%= course.id %>/quizzes/<%= quiz.id %>/questions/<%= question.id %>/edit">Edit Question</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Delete Question</a></li>
                    </ul>
                </div>
            </td>
        </tr>
    <% }) %>
    </tbody>
</table>

<%- include ./footer -%>