<%- include ./header -%>

<h1><%= course.code + ' - ' + course.name %><br>
<small>Quiz <%= quiz.number %> - <%= question.isNew ? 'Add new question' : 'Edit question' %></small></h1>

<form id="form-question" action="/admin/courses/<%= course.id %>/quizzes/<%= quiz.id %>/questions/<%= 
    question.isNew ? '' : question.id + '?_method=put' %>" method="post" class="form-horizontal">
    
    <div class="form-group">
        <label for="question" class="col-sm-2 control-label">Number</label>
        <div class="col-sm-2">
            <input name="number" value="<%= question.number %>" maxlength="6" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label for="question" class="col-sm-2 control-label">Question</label>
        <div class="col-sm-10">
            <textarea name="question" class="form-control" rows="3"><%= question.question %></textarea>
        </div>
    </div>

    <div class="form-group">
        <label for="type" class="col-sm-2 control-label">Type</label>
        <div class="col-sm-10">
            <select name="type" class="form-control">
            <% question.schema.path('type').enumValues.forEach(function (type) { %>
                <option value="<%= type %>"<%= question.type === type ? 
                    ' selected' : '' %>><%= _.upperFirst(type) %></option>            
            <% }) %>
            </select>
        </div>
    </div>

    <!-- files -->

    <div class="form-group">
        <label for="type" class="col-sm-2 control-label">Media</label>
        <div class="col-sm-10">
            <select name="files[]" multiple size="2" class="form-control">
            <% course.files.forEach(function (file) { %>
                <option value="<%= file.id %>"<%= question.hasFile(file.id) ? 
                    ' selected' : '' %>><%= file.name %></option>
            <% }) %>  
            </select>
        </div>
    </div>

    <!-- choices -->

    <div class="form-group">
        <label for="question" class="col-sm-2 control-label">Choices</label>

        <!-- for multiple choice -->

        <% if (question.isNew || !question.isMultipleChoice()) { %>
            <div class="col-sm-10 multiple-choice" style="display: none;">
                <% for (var i = 0, len = 3; i < 3; i++) { %>    
                    <div class="form-group">
                        <div class="col-xs-8"> 
                            <textarea name="choices[<%= i %>]" class="form-control" rows="1" disabled></textarea>
                        </div>
                        <div class="col-xs-4 radio">
                            <label><input type="radio" name="answer[multiple-choice]" value="<%= i %>" disabled<%= 
                                !i ? ' checked' : '' %>></label>
                        </div>
                    </div>
                <% } %>
                <div class="form-group">
                    <div class="col-sm-10">
                        <button type="button" class="btn btn-default btn-sm btn-add-choice">
                            <span class="glyphicon glyphicon-plus"></span> Add choice
                        </button>
                    </div>
                </div>
            </div>
        <% } else { %>
            <div class="col-sm-10 multiple-choice">
                <% question.choices.forEach(function (choice, i) { %>    
                    <div class="form-group">
                        <div class="col-xs-8"> 
                            <textarea name="choices[<%= i %>]" class="form-control" rows="1"><%= choice %></textarea>
                        </div>
                        <div class="col-xs-4 radio">
                            <label><input type="radio" name="answer[multiple-choice]" 
                                value="<%= i %>"<%= question.isAnswer(choice) ? ' checked' : '' %>></label>
                        </div>
                    </div>
                <% }) %>
                <div class="form-group">
                    <div class="col-sm-10">
                        <button type="button" class="btn btn-default btn-sm btn-add-choice">
                            <span class="glyphicon glyphicon-plus"></span> Add choice
                        </button>
                    </div>
                </div>
            </div>
        <% } %>

        <!-- for true or false -->
        
        <% if (question.isNew || !question.isTrueOrFalse()) { %>
            <div class="col-sm-10 true-or-false" style="display: none;">
                <% ['True', 'False'].forEach(function (choice, i) { %>    
                    <div class="form-group">
                        <div class="col-xs-8"> 
                            <input name="choices[<%= i %>]" value="<%= choice %>" class="form-control" disabled>
                        </div>
                        <div class="col-xs-4 radio">
                            <label><input type="radio" name="answer[true-or-false]" value="<%= i %>" disabled<%= 
                                !i ? ' checked' : '' %>></label>
                        </div>
                    </div>
                <% }) %>
            </div>
        <% } else { %>
            <div class="col-sm-10 true-or-false">
                <% question.choices.forEach(function (choice, i) { %>
                    <div class="form-group">
                        <div class="col-xs-8"> 
                            <input name="choices[<%= i %>]" value="<%= choice %>" class="form-control">
                        </div>
                        <div class="col-xs-4 radio">
                            <label><input type="radio" name="answer[true-or-false]" value="<%= i %>"<%= 
                                question.isAnswer(choice) ? ' checked' : '' %>></label>
                        </div>
                    </div>
                <% }) %>
            </div>
        <% } %>

        <!-- for multiple select -->

        <% if (question.isNew || !question.isMultipleSelect()) { %>
            <div class="col-sm-10 multiple-select" style="display: none;">
                <% for (var i = 0, len = 3; i < 3; i++) { %>    
                    <div class="form-group">
                        <div class="col-xs-8"> 
                            <textarea name="choices[<%= i %>]" class="form-control" rows="1" disabled></textarea>
                        </div>
                        <div class="col-xs-4 checkbox">
                            <label><input type="checkbox" name="answers[multiple-select][]" value="<%= i %>" disabled></label>
                        </div>
                    </div>
                <% } %>
                <div class="form-group">
                    <div class="col-sm-10">
                        <button type="button" class="btn btn-default btn-sm btn-add-choice">
                            <span class="glyphicon glyphicon-plus"></span> Add choice
                        </button>
                    </div>
                </div>
            </div>
        <% } else { %>
            <div class="col-sm-10 multiple-select">
                <% question.choices.forEach(function (choice, i) { %>    
                    <div class="form-group">
                        <div class="col-xs-8"> 
                            <textarea name="choices[<%= i %>]" class="form-control" rows="1"><%= choice %></textarea>
                        </div>
                        <div class="col-xs-4 checkbox">
                            <label><input type="checkbox" name="answers[multiple-select][]" value="<%= i %>"<%= 
                                question.isAnswer(choice) ? ' checked' : '' %>></label>
                        </div>
                    </div>
                <% }) %>
                <div class="form-group">
                    <div class="col-sm-10">
                        <button type="button" class="btn btn-default btn-sm btn-add-choice">
                            <span class="glyphicon glyphicon-plus"></span> Add choice
                        </button>
                    </div>
                </div>
            </div>
        <% } %>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <a href="/admin/courses/<%= course.id %>/quizzes/<%= quiz.id %>/questions" class="btn btn-default btn-sm">Cancel</a>
            <button type="submit" class="btn btn-primary btn-sm">Save</button>
        </div>
    </div>
</form>

<!-- templates -->

<script type="text/template" id="multiple-choice-template">
    <div class="form-group">
        <div class="col-xs-8"> 
            <textarea name="choices[${ id }]" class="form-control" rows="1"></textarea>
        </div>
        <div class="col-xs-4 radio">
            <label><input type="radio" name="answer[multiple-choice]" value="${ id }"></label>
        </div>
    </div>
</script>

<script type="text/template" id="multiple-select-template">
    <div class="form-group">
        <div class="col-xs-8"> 
            <textarea name="choices[${ id }]" class="form-control" rows="1"></textarea>
        </div>
        <div class="col-xs-4 checkbox">
            <label><input type="checkbox" name="answers[multiple-select][]" value="${ id }"></label>
        </div>
    </div>
</script>


<%- include ./footer -%>