<%- include ./header -%>

<h1><%= course.code + ' - ' + course.name %><br><small>Quiz <%= quiz.name %> - Questions</small></h1>

<%- include ./messages %>

<a href="/admin/courses/<%= course.id %>/quizzes/<%= quiz.id %>/questions/sort" 
    class="btn btn-default btn-sm<%= quiz.questions.length ? '' : ' disabled' %>" id="btn-sort-questions"><span 
    class="glyphicon glyphicon-ok"></span> Sort Questions</a>

<a href="/admin/courses/<%= course.id %>/quizzes/<%= quiz.id %>/questions/new"
    class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus"></span> Add New Question</a>

<table class="table table-striped" id="table-quiz-questions">
    <thead>
        <tr>
            <th style="width: 10px;"></th>
            <th style="width: 10px;">No.</th>
            <th style="max-width: 250px;">Question</th>
            <th style="max-width: 100px;">Type</th>
            <th></th>
        </tr>
    </thead>
    <% if (!_.isEmpty(quiz.questions)) { %>
        <tbody class="sortable">
        <% _.each(quiz.questions, function (question, i) { %>
            <tr>
                <td>
                    <span class="glyphicon glyphicon-option-vertical"></span>
                    <input type="hidden" name="questions[]" value="<%= question.id %>">
                </td>
                <td><%= question.number %>.</td>
                <td><%= question.question %></td>
                <td><%= question.type %></td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                            Actions<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <!--li><a href="/admin/courses/<%= course.id %>/quizzes/<%= quiz.id %>/questions/<%= question.id %>/view">View Question</a></li-->
                            <li><a href="/admin/courses/<%= course.id %>/quizzes/<%= quiz.id %>/questions/<%= question.id %>/edit"><span class="glyphicon glyphicon-pencil"></span> Edit Question</a></li>
                            <li class="divider"></li>
                            <li><a href="/admin/courses/<%= course.id %>/quizzes/<%= quiz.id %>/questions/<%= question.id %>" class="btn-delete"><span class="glyphicon glyphicon-remove"></span> Delete Question</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        <% }) %>
        </tbody>
    <% } else { %>
        <tbody>
            <tr><td colspan="5">No questions have been added yet.</td></tr> 
        </tbody>
    <% } %>
</table>

<script type="text/template" id="btn-delete-message-template">
    <p>You are about to delete question and all of its associated information.</p>
    <p>This action <b>cannot be undone</b>. Do you want to proceed with this action?</p>
</script>

<%- include ./footer -%>