<%- include ../partials/header -%>

<h1>Quizzes</h1>

<a class="btn btn-default btn-sm" href="/admin/course/<%= course.id %>/quizzes/new">Add New Quiz</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    <% course.quizzes.forEach(function (quiz) { %>
        <tr>
            <th><%= quiz.name %></th>
            <th>
                <div class="dropdown">
                    <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                        Actions<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="/admin/course/<%= course.id %>/quizzes/<%= quiz.id %>">Edit Quiz</a></li>
                        <li><a href="/admin/course/<%= course.id %>/quizzes/<%= quiz.id %>/questions">Manage Questions</a></li>
                        <li><a href="#">Delete Quiz</a></li>
                    </ul>
                </div>
            </th>
        </tr>
    <% }) %>
    </tbody>
</table>

<%- include ../partials/footer -%>