<%- include ./header -%>


<div class="alert alert-info center-block" style="max-width: 90%">
    A <b>published</b> quiz is available for students in the tutorial to open and be assigned to a group automatically (you can assign/change groups manually at any time).
    An <b>active</b> quiz is one currently in progress: the questions are visible to students and they can submit responses while a quiz is active.
    Note that students will not be automatically assigned to groups while a quiz is active - you will have to do it manually.
</div>

<% if (!_.isEmpty(students)) { %>
<p>
    <label class="col control-label">
        <span>Publish?</span>
        <input type="checkbox" value="1" class="bootstrap-switch" id="publish"<%= tutorialQuiz.published ? ' checked' : '' %>>
    </label>
    <label class="col control-label">
        <span>Active?</span> 
        <input type="checkbox" value="1" class="bootstrap-switch" id="activate"<%= tutorialQuiz.active ? ' checked' : '' %>>
    </label>
    <label class="col control-label">
        <span>Archive?</span>
        <input type="checkbox" value="1" class="bootstrap-switch" id="archive"<%= tutorialQuiz.archived ? ' checked' : '' %>>
    </label>
</p>
<% } %>

<h1>Groups</h1>

<%- include ./messages %>

<% if (!_.isEmpty(students)) { %>
<p>
    <button type="button" class="btn btn-default btn-sm" id="btn-refresh-groups"><span 
        class="glyphicon glyphicon-refresh"></span> Refresh</button>
    <button type="button" class="btn btn-default btn-sm" id="btn-add-group"><span 
        class="glyphicon glyphicon-plus"></span> Add group</button>
    <button type="button" class="btn btn-default btn-sm" id="btn-randomize-groups"><span 
        class="glyphicon glyphicon-random"></span> Randomize groups</button>
    <button type="button" class="btn btn-default btn-sm btn-primary" id="btn-save-groups"><span 
        class="glyphicon glyphicon-ok"></span> Save groups</button>
</p>
<% } %>

<table id="table-quiz-groups">
    <thead>
        <tr>
            <th rowspan="2" class="s">&nbsp;</th>
            <th colspan="<%= 1 + groups.length %>">Groups</th>
        </tr>
        <% if (!_.isEmpty(students)) { %>
            <tr>
                <th class="u">Unassigned</th>
                <% _.each(groups, function (group) { %>
                    <th class="g"><%= group.name %></th>
                <% }) %>
            </tr>
        <% } %>
    </thead>
    <tbody>
    <% if (_.isEmpty(students)) { %>
        <tr>
            <td colspan="2">No students have been added into the tutorial yet. Click <a href="/admin/courses/<%= course.id %>/students">here</a> to add students into tutorial.</td>
        </tr>
    <% } else { %>
        <% _.each(students, function (student) { %>
            <tr>
                <td class="s">
                    <a href="/admin/courses/<%= course.id %>/students/<%= student.id %>/marks"><%= student.name.full %></a>
                </td>
                <td class="u">
                    <input type="radio" name="groups[<%= student.id %>]" value="unassigned">
                </td>
                <% _.each(groups, function (group) { %>
                    <td class="g"><input type="radio" name="groups[<%= student.id %>]" value="<%= group.id %>"<%=
                        _.find(group.members, { '_id' : student._id }) ? ' checked' : '' %>></td>
                <% }) %>
            </tr>
        <% }) %>
    <% } %>
    </tbody>
</table>

<%- include ./body-js -%>

<script>
$(function () {
    var url = {
        publish: '/admin/courses/<%= course.id %>/tutorial-quizzes/<%= tutorialQuiz.id %>/publish',
        activate: '/admin/courses/<%= course.id %>/tutorial-quizzes/<%= tutorialQuiz.id %>/activate',
        archive: '/admin/courses/<%= course.id %>/tutorial-quizzes/<%= tutorialQuiz.id %>/archive',
        generate: '/admin/courses/<%= course.id %>/tutorial-quizzes/<%= tutorialQuiz.id %>/groups/generate',
        save: '/admin/courses/<%= course.id %>/tutorial-quizzes/<%= tutorialQuiz.id %>/groups'
    };
    // set option on quiz in tutorial
    $(':checkbox').on('switchChange.bootstrapSwitch', function (e, state) {
        $.ajax(url[this.id], {
            type: 'put',
            data: { state: state }, 
            success: function (res) {
                console.log(res.status);
            }
        });
    });
    // refresh table
    $('#btn-refresh-groups').click(function () {
        var $table = $('#table-quiz-groups');
        $table.load(window.location.href + ' #' + $table[0].id + ' > *');
    });
    // ramdomize table
    $('#btn-randomize-groups').click(function () {
        var $table = $('#table-quiz-groups');
        $table.load(url.generate + ' #' + $table[0].id + ' > *');
    });
    // add new group to table
    $('#btn-add-group').click(function () {
        var $table = $('#table-quiz-groups'),
            $thead = $table.find('thead'),
            $tbody = $table.find('tbody');
        // get next group #
        var numbers = [];
        $thead.find('tr:eq(1) th').each(function () {
            if (!isNaN(this.innerText)) {
                numbers.push(parseInt(this.innerText, 10));
            }
        });
        var value = _.toInteger(_.max(numbers)) + 1;
        // increment colspan
        $thead.find('tr:eq(0) th:eq(1)').attr('colspan', function (i, attr) { 
            return parseInt(attr, 10) + 1; 
        });
        // add header column
        $thead.find('tr:eq(1)').append('<th class="g">' + value + '</th>');
        // add body column
        $tbody.find('tr').each(function () { 
            var $tr = $(this);
            var name = $tr.find(':radio:eq(0)').attr('name');
            $tr.append('<th class="g"><input type="radio" name="' + name + '" value="' + value + '"></th>');
        });
    });
    // save changes
    $('#btn-save-groups').click(function () {
        $.ajax(url.save, {
            type: 'put',
            data: $('#table-quiz-groups :radio').serialize(), 
            success: function (res) {
                if (res.status) {
                    window.location.reload(true);
                }
            }
        });
    });
});
</script>

<%- include ./footer -%>