<%- include ./header -%>

<h1><%= course.code + ' - ' + course.name %><br>
<small>TUT <%= tutorial.number %> - Quizzes</small></h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th class="text-center">Published</th>
            <th class="text-center">Unlocked</th>
            <th class="text-center">Active</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    <% tutorialQuizzes.forEach(function (tutorialQuiz) { %>
        <tr>
            <td><%= tutorialQuiz.quiz.name %></td>
            <td class="text-center">
            <% if (tutorialQuiz.published) { %>
                <span class="glyphicon glyphicon-ok"></span>
            <% } %>
            </td>
            <td class="text-center">
            <% if (tutorialQuiz.unlocked) { %>
                <span class="glyphicon glyphicon-ok"></span>
            <% } %>
            </td>
            <td class="text-center">
            <% if (tutorialQuiz.active) { %>
                <span class="glyphicon glyphicon-ok"></span>
            <% } %>
            </td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                        Actions<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="/admin/courses/<%= course.id %>/tutorial-quizzes/<%= tutorialQuiz.id %>/edit">Edit quiz</a></li>
                        <li><a href="/admin/courses/<%= course.id %>/tutorial-quizzes/<%= tutorialQuiz.id %>/groups">Manage Groups</a></li>
                    </ul>
                </div>
            </td>
        </tr>
    <% }) %>
    </tbody>
</table>

<%- include ./footer -%>