<%- include ./header -%>

<h1><%= course.code + ' - ' + course.name %><br>
<small>TUT <%= tutorial.number %> - Students</small></h1>

<%- include ./messages %>

<table class="table table-striped">
    <thead>
        <tr>
            <th>UTORid</th>
            <th>Name</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    <% if (!_.isEmpty(tutorial.students)) { %>
        <% _.each(tutorial.students, function (student) { %>
            <tr>
                <td><%= student.UTORid %></td>
                <td><%= student.name.full %></td>
                <td><%= student.local.email %></td>
                <th>
                    <div class="dropdown">
                        <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                            Actions<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="/admin/courses/<%= course.id %>/students/<%= student.id %>/marks">View Marks</a></li>
                        </ul>
                    </div>
                </th>
            </tr>
        <% }) %>
    <% } else { %>
        <tr>
            <td colspan="4">No students have been added to this tutorial yet. Click <a href="/admin/courses/<%= course.id %>/students">here</a> to add students</a> into the tutorial.</td>
        </tr>
    <% } %>
    </tbody>
</table>

<%- include ./footer -%>