<%- include ./header -%>

<ol class="breadcrumb">
    <li><a href="/admin/courses">Courses</a> ‐ <%= course.code %></li>
    <li><a href="/admin/courses/<%= course.id %>/tutorials">Tutorials</a> ‐ TUT <%= tutorial.number %></li>
    <li><a href="/admin/courses/<%= course.id %>/tutorials/<%= tutorial.id %>/quizzes">Quizzes</a> ‐ <%= quiz.name %></li>
    <li class="active">Conduct</li>
</ol>

<h2 id="title"><%- title %></h2>

<%- include ./flash %>

<ul class="nav nav-tabs">
    <li class="active"><a href="#settings" data-toggle="tab">Settings</a></li>
    <li><a href="#groups" data-toggle="tab">Groups</a></li>
</ul>
<div class="tab-content">
    <div class="tab-pane active" id="settings">
        <br>  
        <form action="/admin/courses/<%= course.id %>/tutorials/<%= tutorial.id %>/quizzes/<%= quiz.id %>?_method=put" 
            method="post" class="form-horizontal" style="max-width: 700px">
            <div class="form-group">
                <label class="col-xs-4 col-sm-4 control-label">Allocate members by</label>
                <div class="col-xs-7 col-sm-8">
                    <select name="allocateMembers" class="form-control">
                        <option value="automatically"<%= tutorialQuiz.allocateMembers === 'automatically' ? 
                            ' selected' : '' %>>automatically assigning users to groups as they sign in</option>
                        <option value="self-selection"<%= tutorialQuiz.allocateMembers === 'self-selection' ? 
                            ' selected' : '' %>>allowing users to assign themselves to groups as they sign in</option> 
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-4 col-sm-4 control-label">Set group size</label>
                <div class="col-xs-4 col-sm-3">
                    <input type="number" name="max[membersPerGroup]" value="<%= tutorialQuiz.max.membersPerGroup %>" 
                        min="1" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-4 col-sm-4 control-label">Publish quiz?</label>
                <div class="col-xs-4 col-sm-8">
                    <input type="checkbox" value="1" class="bootstrap-switch" name="published"<%= 
                        tutorialQuiz.published ? ' checked' : '' %>>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-4 col-sm-4 control-label">Activate quiz?</label>
                <div class="col-xs-4 col-sm-8">
                    <input type="checkbox" value="1" class="bootstrap-switch" name="active"<%= 
                        tutorialQuiz.active ? ' checked' : '' %>>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-4 col-sm-4 control-label">Archive quiz?</label>
                <div class="col-xs-4 col-sm-8">
                    <input type="checkbox" value="1" class="bootstrap-switch" name="archived"<%= 
                        tutorialQuiz.archived ? ' checked' : '' %>>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-offset-4 col-sm-offset-4 col-xs-8 col-sm-8">
                    <button type="submit" class="btn btn-primary btn-sm">Save</button>
                </div>
            </div>
        </form>
    </div>
    <div class="tab-pane" id="groups">
        <form action="/admin/courses/<%= course.id %>/tutorials/<%= tutorial.id %>/quizzes/<%= quiz.id %>/groups?_method=put" 
            method="post" autocomplete="off">
            <div class="nav-actions">
                <a href="/admin/courses/<%= course.id %>/tutorials/<%= tutorial.id %>/quizzes/<%= quiz.id %>/conduct" 
                    class="btn btn-default btn-sm btn-primary"><span class="glyphicon glyphicon-triangle-left"></span> Revert</a>
                <a href="/admin/courses/<%= course.id %>/tutorials/<%= tutorial.id %>/quizzes/<%= quiz.id %>/groups/generate" 
                    class="btn btn-default btn-sm"><span class="glyphicon glyphicon-random"></span> Randomize Groups</a>
                <button type="button" class="btn btn-default btn-sm btn-add"><span 
                    class="glyphicon glyphicon-plus"></span> Add New Group</button>
                <button type="submit" class="btn btn-default btn-sm btn-primary btn-save"><span 
                    class="glyphicon glyphicon-ok"></span> Save Groups</button>
            </div>
            <table class="stretch">
                <tbody>
                <% if (_.isEmpty(students)) { %>
                    <tr>
                        <td colspan="2">No students have been added into the tutorial yet.</td>
                    </tr>
                <% } else { %>
                    <% _.each(students, function (student) { %>
                        <tr>
                            <td class="student"><%= student.name.full %></td>
                            <% _.each(groups, function (group) { %>
                                <td class="group"><input type="checkbox" 
                                    name="groups[<%= group.id %>][<%= student.id %>]" 
                                    value="1" data-label="<%= group.name %>" data-group="<%= student.id %>"<%= 
                                    group.members.indexOf(student.id) > -1 ? ' checked' : '' %>></td>
                            <% }) %>
                            <td class="group"><input type="checkbox" 
                                name="groups[<new>][<%= student.id %>]" 
                                value="1" data-label="new" data-group="<%= student.id %>"></td>
                        </tr>
                    <% }) %>
                <% } %>
                </tbody>
            </table>
            <div class="nav-actions">
                <a href="/admin/courses/<%= course.id %>/tutorials/<%= tutorial.id %>/quizzes/<%= quiz.id %>/conduct" 
                    class="btn btn-default btn-sm btn-primary"><span class="glyphicon glyphicon-triangle-left"></span> Revert</a>
                <a href="/admin/courses/<%= course.id %>/tutorials/<%= tutorial.id %>/quizzes/<%= quiz.id %>/groups/generate" 
                    class="btn btn-default btn-sm"><span class="glyphicon glyphicon-random"></span> Randomize Groups</a>
                <button type="button" class="btn btn-default btn-sm btn-add"><span 
                    class="glyphicon glyphicon-plus"></span> Add New Group</button>
                <button type="submit" class="btn btn-default btn-sm btn-primary btn-save"><span 
                    class="glyphicon glyphicon-ok"></span> Save Groups</button>
            </div>
        </form>
    </div>
</div>

<%- include ./body-js -%>

<script>
$(function () {
    var $tab = $('#groups'), 
        $table = $tab.find('table'),
        $tr = $table.find('tbody > tr:first-child');
    var nextNumber = function () {
        var num = 1, used = $tr.find('td').map(function () { return parseInt($(this).text(), 10) || -1 }).get().sort();
        // find first unused number
        while (used.indexOf(num) > -1) { num++ }
        return num;
    };
    // add new group to table
    $tab.find('.btn-add').click(function () {
        var n = nextNumber();
        $table.find('td:last-child').each(function () {
            $(this).before(this.outerHTML.replace(/new/g, n)); 
        });
    }); 
});
</script>

<%- include ./footer -%>
