<%- include ./header -%>

<h1>Edit <%= tutorialQuiz.quiz.name %> for TUT <%= tutorialQuiz.tutorial.number %></h1>

<form action="/admin/courses/<%= course.id %>/tutorial-quizzes/<%= tutorialQuiz.id + '?_method=put' %>" 
    method="post" class="form-horizontal">


    <div class="form-group">
        <label class="col-sm-2 control-label">Allocate members by</label>
        <div class="col-sm-7">
            <select name="allocateMembers" class="form-control">
            <% [
                { value: 'unaided', text: 'allowing users to assign themselves to groups as they sign in' },
                { value: 'automatically', text: 'automatically assigning users to groups as they sign in' },
                { value: 'manually', text: 'manually assigning users to groups' }
            ].forEach(function (option) { %>
                <option value="<%= option.value %>"<%= tutorialQuiz.allocateMembers === option.value ? 
                    ' selected' : '' %>><%= option.text %></option>
            <% }) %>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Max number of </label>
        <div class="col-sm-7">
            <div class="form-group">
                <div class="col-xs-5">
                    <select name="max[key]" class="form-control">
                        <option value="groups"<%= tutorialQuiz.max.groups ? 
                            ' selected' : '' %>>groups</option>
                        <option value="membersPerGroup"<%= tutorialQuiz.max.membersPerGroup ? 
                            ' selected' : '' %>>members per group</option>
                    </select>
                </div>
                <div class="col-xs-3">
                    <input type="text" name="max[value]" value="<%= tutorialQuiz.max.groups ? 
                        tutorialQuiz.max.groups : tutorialQuiz.max.membersPerGroup %>" maxlength="2" class="form-control">
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Published?</label>
        <div class="col-sm-10">
            <label class="radio-inline">
                <input type="radio" name="published" value="0"<%= tutorialQuiz.published ? '' : ' checked' %>>No
            </label>
            <label class="radio-inline">
                <input type="radio" name="published" value="1"<%= tutorialQuiz.published ? ' checked' : '' %>>Yes
            </label>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Unlocked?</label>
        <div class="col-sm-10">
            <label class="radio-inline">
                <input type="radio" name="unlocked" value="0"<%= tutorialQuiz.unlocked ? '' : ' checked' %>>No
            </label>
            <label class="radio-inline">
                <input type="radio" name="unlocked" value="1"<%= tutorialQuiz.unlocked ? ' checked' : '' %>>Yes
            </label>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Active?</label>
        <div class="col-sm-10">
            <label class="radio-inline">
                <input type="radio" name="active" value="0"<%= tutorialQuiz.active ? '' : ' checked' %>>No
            </label>
            <label class="radio-inline">
                <input type="radio" name="active" value="1"<%= tutorialQuiz.active ? ' checked' : '' %>>Yes
            </label>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <a href="/admin/courses/<%= course.id %>/tutorials/<%= tutorialQuiz.tutorial.id %>/quizzes" 
                class="btn btn-default btn-sm">Cancel</a>
            <button type="submit" class="btn btn-primary btn-sm">Save</button>
        </div>
    </div>

</form>

<%- include ./footer -%>