<%- include ./header -%>

<h1><%= course.code + ' - ' + course.name %><br>
<small>TUT <%= tutorial.number %> - Students</small></h1>

<%- include ./messages %>

<table class="table table-striped">
    <thead>
        <tr>
            <th>UTORid</th>
            <th>Name</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    <% for (var i = 0, len = tutorial.students.length; i < len; i++) { %>
        <tr>
            <td><%= tutorial.students[i].UTORid %></td>
            <td><%= tutorial.students[i].name.full %></td>
            <td><%= tutorial.students[i].local.email %></td>
            <th>
                <div class="dropdown">
                    <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                        Actions<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="/admin/courses/<%= course.id %>/students/<%= tutorial.students[i].id %>/marks">View Marks</a></li>
                    </ul>
                </div>
            </th>
        </tr>
    <% } %>
    </tbody>
</table>

<%- include ./footer -%>