<%- include ./header -%>

<h1>Users</h1>

<%- include ./flash %>

<div class="nav-actions">
    <a href="/admin/users/new" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus"></span> Add new user</a>
</div>

<table class="table table-striped" style="width: 700px">
    <thead>
        <tr>
            <th>Name</th>
        <% _.each(['Admin', 'Instructor', 'TA', 'Student'], function (role) { %>
            <th class="text-center"><%= role %></th>
        <% }) %>
            <th class="actions"></th>
        </tr>
    </thead>
    <% if (_.isEmpty(users)) { %>
        <tbody><tr><td colspan="6">No users have been added yet.</td></tr></tbody>
    <% } else { %>
        <tfoot>
            <tr>
                <td colspan="6" style="text-align: center">
                    <%- include ./pagination %>
                </td>
            </tr>
        </tfoot>
        <tbody>
        <% _.each(users, function (user) { %>
            <tr>
                <td><%= user.name.full %></td>
            <% _.each(['admin', 'instructor', 'teachingAssistant', 'student'], function (role) { %>
                <td class="text-center">
                <% if (user.hasRole(role)) { %>
                    <span class="glyphicon glyphicon-ok"></span>
                <% } %>
                </td>
            <% }) %>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                            Actions<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="/admin/users/<%= user.id %>/edit"><span class="glyphicon glyphicon-pencil"></span> Edit user</a></li>
                            <li class="divider"></li>
                            <li><a href="/admin/users/<%= user.id %>" class="btn-delete"><span class="glyphicon glyphicon-remove"></span> Delete user</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        <% }) %>
        </tbody>
    <% } %>
</table>

<%- include ./body-js -%>

<script>
$(function () {
    $('.btn-delete').click(function (e) {
        e.preventDefault();
        var btn = this;
        $.deletebox({
            title: 'Delete user',
            message: '<p>You are about to delete user and all of its associated information.</p>\
                <p>This action <b>cannot be undone</b>. Do you want to proceed with this action?</p>',
            callback: function () {
                $.delete(btn.href, function () { window.location.reload(true); });
            }
        });
    });
});
</script>

<%- include ./footer -%>