<%- include ./header -%>

<h1>Users</h1>

<%- include ./messages %>

<a href="/admin/users/new" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus"></span> Add new user</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th class="text-center">Admin</th>
            <th class="text-center">Instructor</th>
            <th class="text-center">TA</th>
            <th class="text-center">Student</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    <% if (_.isEmpty(users)) { %>
        <tr>
            <td colspan="6">No users have been added yet.</td>
        </tr>
    <% } else { %>
        <% _.each(users, function (user) { %>
            <tr>
                <td><%= user.name.full %></td>
                <% _.each(['admin', 'instructor', 'teachingAssistant', 'student'], function (role) { %>
                    <td class="text-center">
                    <% if (user.hasRole(role)) { %>
                        <span class="glyphicon glyphicon-ok"></span>
                    <% } %>
                    </td>
                <% }) %>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                            Actions<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="/admin/users/<%= user.id %>/edit"><span class="glyphicon glyphicon-pencil"></span> Edit user</a></li>
                            <li class="divider">
                            <li><a href="/admin/users/<%= user.id %>" class="btn-delete"><span class="glyphicon glyphicon-remove"></span> Delete user</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        <% }) %>
    <% } %>
    </tbody>
</table>

<script type="text/template" id="btn-delete-message-template">
    <p>You are about to delete user and all of its associated information.</p>
    <p>This action <b>cannot be undone</b>. Do you want to proceed with this action?</p>
</script>

<%- include ./body-js -%>
<%- include ./footer -%>