<%- include ./header -%>

<h1>Users</h1>

<h4 class="todo">@TODO: ability to delete users</h4>

<a class="btn btn-default btn-sm" href="/admin/users/new">Add new user</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th class="text-center">Admin</th>
            <th class="text-center">Instructor</th>
            <th class="text-center">Teaching Assistant</th>
            <th class="text-center">Student</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    <% users.forEach(function (user) { %>
        <tr>
            <td><%= user.name.first %></td>
            <td><%= user.name.last %></td>
            <td><%= user.local.email %></td>
            <% ['admin', 'instructor', 'teachingAssistant', 'student'].forEach(function (role) { %>
                <td class="text-center">
                <% if (user.hasRole(role)) { %>
                    <span class="glyphicon glyphicon-ok"></span>
                <% } %>
                </td>
            <% }) %>
            <td>
                <div class="dropdown">
                    <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                        Actions<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="/admin/users/<%= user.id %>/edit">Edit user</a></li>
                        <li class="divider">
                        <li><a href="#">Delete user</a></li>
                    </ul>
                </div>
            </td>
        </tr>
    <% }) %>
    </tbody>
</table>

<%- include ./footer -%>