<%- include ./header -%>

<div class="col-sm-10 col-sm-offset-1">
    <div class="text-cente">
        <h1><%= console.dir(error) %></h1>
        <h4>Description</h4>
        <pre><%= error.message %></pre>
        <h4>Stack trace</h4>
        <pre><%= error.stack %></pre>
        <a href="#" class="btn btn-default" onclick="history.back(); return false;"><span class="fa fa-home"></span> Back</a>
    </div>
</div>

<%- include ./footer -%>