<% include ../partials/header %>

<ol class="breadcrumb">
    <li><a href="/admin/courses">Courses</a> ‐ <%= course.code %></li>
    <li class="active">Tutorials</li>
</ol>

<h3><%- title %></h3>

<% include ../partials/flash %>

<form method="post">
    <div class="nav-actions">
        <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#modal-add-tutorials"><span class="glyphicon glyphicon-plus"></span> Add Tutorials</button>
    </div>
    <table class="table table-hover table-nofluid">
        <thead>
            <tr>
                <th class="number">Tutorial</th>
                <th>Teaching Assistants</th>
                <th class="students"># of students</th>
                <th class="actions"></th>
            </tr>
        </thead>
        <tbody>
        <% if (_.isEmpty(tutorials)) { %>
            <tr><td colspan="4">No tutorials have been added yet.</td></tr>
        <% } else { %>
            <% _.each(tutorials, tutorial => { %>
                <tr>
                    <td class="number"><%= tutorial.number %></td>
                    <td><%- _.map(tutorial.teachingAssistants, ta => ta.name.full).join(', ') %></td>
                    <td class="students"><%= tutorial.students.length %></td>
                    <td class="actions">
                        <div class="dropdown">
                            <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">Actions<span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="/admin/courses/<%= course._id %>/tutorials/<%= tutorial._id %>/edit"><span class="glyphicon glyphicon-pencil"></span> Edit Tutorial</a></li>
                                <li><a href="/admin/courses/<%= course._id %>/tutorials-quizzes"><span class="glyphicon glyphicon-play-circle"></span> Conduct Quizzes</a></li>
                                <li><a href="/admin/courses/<%= course._id %>/tutorials/<%= tutorial._id %>/students"><span class="glyphicon glyphicon-user"></span> Manage Students</a></li>
                                <li class="divider"></li>
                                <li><a href="/admin/courses/<%= course._id %>/tutorials/<%= tutorial._id %>?_method=delete" class="btn-delete"><span class="glyphicon glyphicon-remove"></span> Delete Tutorial</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            <% }) %>
        <% } %>
        </tbody>
    </table>
</form>

<% include ../partials/modal-add-tutorials %>
<% include ../partials/footer %>