<% include ../partials/header %>

<ol class="breadcrumb">
    <li><a href="/admin/courses">Courses</a> ‐ <%= course.code %></li>
    <li class="active">Quizzes</li>
</ol>

<h3><%- title %></h3>

<% include ../partials/flash %>

<div class="nav-actions">
    <a href="/admin/courses/<%= course._id %>/quizzes/new" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus"></span> Add New Quiz</a>
</div>



<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th class="text-center"># of questions</th>
            <th style="width: 190px">Date Created</th>
            <th class="actions"></th>
        </tr>
    </thead>
    <tbody>
    <% if (_.isEmpty(course.quizzes)) { %>
        <tr><td colspan="4">No quizzes have been added yet.</td></tr>
    <% } else { %>
        <% _.each(course.quizzes, quiz => { %>
            <tr>
                <td><%= quiz.name %></td>
                <td class="text-center"><%= quiz.questions.length %></td>
                <td><%= moment(quiz.createdAt).format(DATEFORMAT) %></td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">Actions<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="/admin/courses/<%= course._id %>/quizzes/<%= quiz._id %>/edit"><span class="glyphicon glyphicon-pencil"></span> Edit Quiz</a></li>
                            <li><a href="/admin/courses/<%= course._id %>/quizzes/<%= quiz._id %>/copy" class="btn-copy"><span class="glyphicon glyphicon-duplicate"></span> Copy Quiz</a></li>
                            <li><a href="/admin/courses/<%= course._id %>/quizzes/<%= quiz._id %>/questions"><span class="glyphicon glyphicon-question-sign"></span> Manage Questions</a></li>
                            <li class="divider"></li>
                            <li><a href="/admin/courses/<%= course._id %>/quizzes/<%= quiz._id %>" class="btn-delete"><span class="glyphicon glyphicon-remove"></span> Delete Quiz</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        <% }) %>
    <% } %>
    </tbody>
</table>

<% include ../partials/footer %>