<% include ../partials/header %>

<ol class="breadcrumb">
    <li><a href="/admin/courses">Courses</a> ‐ <%= course.code %></li>
    <li><a href="/admin/courses/<%= course._id %>/quizzes">Quizzes</a></li>
    <li class="active"><%= quiz.isNew ? 'New' : 'Edit' %></li>
</ol>

<h3><%- title %></h3>

<% include ../partials/flash %>

<form action="/admin/courses/<%= course._id %>/quizzes/<%= quiz.isNew ? '' : `${quiz._id}?_method=put` %>" method="post" autocomplete="off" class="form-horizontal">

    <div class="form-group required">
        <label class="col-sm-3 control-label">Name</label>
        <div class="col-sm-9">
            <input type="text" name="name" value="<%= quiz.name %>" class="form-control" required>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Available to</label>
        <div class="col-sm-9">
            <select name="tutorials[]" multiple class="form-control">
            <% _.each(course.tutorials, tutorial => { %>
                <option value="<%= tutorial._id %>"<%= quiz.isNew || quiz.isLinkedTo(tutorial) ? ' selected' : '' %>>TUT <%= tutorial.number %></option> 
            <% }) %>
            </select>
            <p class="help-block"><span class="glyphicon glyphicon-info-sign"></span> Tip: Hold down Ctrl or Command key while clicking to select more than one option.</p>
        </div>
    </div>

    <div class="form-group">
        <label class="col-xs-7 col-sm-3 control-label">Enable student choice?</label>
        <div class="col-xs-5 col-sm-9">
            <input type="checkbox" name="studentChoice" value="1" class="bootstrap-switch"<%= quiz.studentChoice ? ' checked' : '' %>>
        </div>
    </div>

    <div class="form-group">
        <label class="col-xs-7 col-sm-3 control-label">Enable student voting?</label>
        <div class="col-xs-5 col-sm-9">
            <input type="checkbox" name="voting" value="1" class="bootstrap-switch"<%= quiz.voting ? ' checked' : '' %>>
        </div>
    </div>

    <!-- default options -->
    <div class="form-group">
        <label class="col-sm-3 control-label">Tags</label>
        <div class="col-sm-7">
            <input type="text" name="default[_tags]" value="<%= _.join(quiz.default.tags, ', ') %>" class="form-control" maxlength="70">
        </div>
    </div>

    <div class="form-group">
        <label class="col-xs-7 col-sm-3 control-label">Shuffle choices? (MC/MS)</label>
        <div class="col-xs-5 col-sm-2">
            <input type="checkbox" name="default[shuffleChoices]" value="1" class="bootstrap-switch"<%= quiz.default.shuffleChoices ? ' checked' : '' %>>
        </div>
    </div>

    <div class="form-group">
        <label class="col-xs-7 col-sm-3 control-label">Format questions using LaTeX?</label>
        <div class="col-xs-5 col-sm-2">
            <input type="checkbox" name="default[useLaTeX]" value="1" class="bootstrap-switch"<%= quiz.default.useLaTeX ? ' checked' : '' %>>
        </div>
    </div>

    <div class="form-group">
        <label class="col-xs-7 col-sm-3 control-label">Case-sensitive (SA)</label>
        <div class="col-xs-5 col-sm-2">
            <input type="checkbox" name="default[caseSensitive]" value="1" class="bootstrap-switch"<%= quiz.default.shuffleChoices ? ' checked' : '' %>>
        </div>
    </div>

    <div class="form-group">
        <label class="col-xs-7 col-sm-3 control-label">Points per line (CT)</label>
        <div class="col-xs-5 col-sm-2">
            <input type="number" name="default[maxPointsPerLine]" value="<%= quiz.default.maxPointsPerLine %>" min="1" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label class="col-xs-7 col-sm-3 control-label">Maximum attempts per line (CT)</label>
        <div class="col-xs-5 col-sm-2">
            <input type="number" name="default[maxAttemptsPerLine]" value="<%= quiz.default.maxAttemptsPerLine %>" min="1" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label class="col-xs-7 col-sm-3 control-label">Points possible (MC/MS/SA)</label>
        <div class="col-xs-5 col-sm-2">
            <input type="number" name="default[points]" value="<%= quiz.default.points %>" min="0" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label class="col-xs-7 col-sm-3 control-label">First-try bonus (MC/MS/SA)</label>
        <div class="col-xs-5 col-sm-2">
            <input type="number" name="default[firstTryBonus]" value="<%= quiz.default.firstTryBonus %>" min="0" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label class="col-xs-7 col-sm-3 control-label">Penalty per attempt (MC/MS/SA)</label>
        <div class="col-xs-5 col-sm-2">
            <input type="number" name="default[penalty]" value="<%= quiz.default.penalty %>" min="0" class="form-control">
        </div>
    </div>
    <div class="form-group" style="margin-top: 30px;">
        <div class="col-sm-offset-3 col-sm-9">
            <a href="/admin/courses/<%= course._id %>/quizzes" class="btn btn-default btn-sm">Cancel</a>
            <button type="submit" class="btn btn-primary btn-sm">Save</button>
        </div>
    </div>
</form>

<% include ../partials/footer %>