<% include ../partials/header %>

<ol class="breadcrumb">
    <li><a href="/admin/courses">Courses</a> ‐ <%= course.code %></li>
    <li class="active">Files</li>
</ol>

<h3><%- title %></h3>

<% include ../partials/flash %>

<form method="post">
    <div class="nav-actions">
        <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#modal-upload-files"><span class="glyphicon glyphicon-plus"></span> Upload Files</button>
        <a href="/admin/courses/<%= course._id %>/files?_method=delete" class="btn btn-danger btn-sm" id="btn-delete"><span class="glyphicon glyphicon-remove"></span> Delete Files</a>
    </div>
    <table class="table table-hover table-nofluid">
        <thead>
            <tr>
                <th class="cb"><input type="checkbox" value="1"></th>
                <th>Name</th>
                <th>Mime Type</th>
                <th class="createdAt">Date Uploaded</th>
            </tr>
        </thead>
        <tbody>
        <% if (_.isEmpty(course.files)) { %> 
            <tr><td colspan="4">No files have been added yet.</td></tr>
        <% } else { %>  
            <% _.each(course.files, file => { %>
                <tr>
                    <td class"cb"><input type="checkbox" name="-files[]" value="<%= file._id %>"></td>
                    <td>
                        <a href="/uploads/<%= course._id %>/<%= file.name %>" target="_preview"><%= file.name %></a>
                    <% if (file.isImage()) { %>
                        <img src="/uploads/<%= course._id %>/<%= file.name %>" class="preview" style="display: none">
                    <% } else if (file.isAudio()) { %>
                        <audio controls class="preview" style="display: none">
                            <source src="/uploads/<%= course._id %>/<%= file.name %>" type="<%= file.type %>">
                        </audio>
                    <% } %>
                    </td>
                    <td><%= file.type %></td>
                    <td class="createdAt"><%= moment(file.createdAt).format(DATEFORMAT) %></td>
                </tr>
            <% }) %>
        <% } %>
        </tbody>
    </table>
</form>

<% include ../partials/modal-upload-files %>
<% include ../partials/footer %>