<% include ../partials/header %>

<ol class="breadcrumb">
    <li><a href="/admin/courses">Courses</a> ‐ <%- course.code %></li>
    <li><a href="/admin/courses/<%= course.id %>/tutorials-quizzes">Tutorials &amp; Quizzes</a></li>
    <li>Groups ‐ <%- group.name %></li>
    <li class="active">Responses</li>
</ol>

<h3><%- title %></h3>

<table id="info" class="table table-bordered table-condensed">
    <tr>
        <th style="width: 100px">Group</th>
        <td><%= group.name %></td>
    </tr>
    <tr>
        <th>Members</th>
        <td>
            <ul>
            <% _.each(group.members, member => { %>
                <% if (group.driver && group.driver.equals(member._id)) { %>
                    <li><%= member.name.full %> <b>(Driver)</b></li>
                <% } else { %>
                    <li><%= member.name.full %></li>
                <% } %>
            <% }) %>
            </ul>
        </td>
    </tr>
    <tr>
        <th>Points</th>
        <td><%= group.getTotalPoints() %></td>
    </tr>
    <tr>
        <th># of questions</th>
        <td><%= questions.length %></td>
    </tr>
</table>

<% include ../partials/flash %>


<% _.each(questions, question => { %>
    <div class="panel panel-default" data-type="<%= question.type %>">
        <form method="post" autocomplete="off">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <span>Question <%= question.number %>: <%= question.type %></span>
                    <span class="pull-right">
                    <% if (question.response.correct) { %>
                        <span class="correct">Correct</span>
                    <% } else { %>
                        <span class="incorrect">Incorrect</span>
                    <% } %>
                    </span>
                </h4>
            </div>
            <div class="panel-body">
                <input type="hidden" name="question" value="<%= question._id %>">
                <!-- question -->
                <div class="question"><%= question.question %></div>
                <!-- code -->
                <% if (question.isCodeTracing()) { %>
                <pre class="code"><code><%= question.code %></code></pre>
                <% } %>
                <!-- choices -->
                <div class="choices">
                <% if (question.isMultipleChoice()) { %>
                    <table class="table table-bordered table-condensed">
                        <tr>
                            <th class="choice">Choice</th>
                            <th class="expected">Expected</th>
                            <th class="given">Given</th>
                            <th class="correct"></th>
                        </tr>
                        <% _.each(question.results, result => { %>
                            <tr>
                                <td class="choice"><%= result.choice %></td>
                                <td class="expected"><input type="radio" disabled<%= result.expected ? ' checked' : '' %>></td>
                                <td class="given"><input type="radio" name="answer[]" value="<%= result.choice %>" disabled<%= result.given ? ' checked' : '' %>></td>
                                <td class="correct">
                                <% if (result.correct === true) { %>
                                <span class="glyphicon glyphicon-ok"></span>
                                <% } else if (result.correct === false) { %>
                                <span class="glyphicon glyphicon-remove"></span>
                                <% } %>
                                </td>
                            </tr>
                        <% }) %>
                    </table>
                <% } else if (question.isMultipleSelect()) { %>
                    <table class="table table-bordered table-condensed">
                        <tr>
                            <th class="choice">Choice</th>
                            <th class="expected">Expected</th>
                            <th class="given">Given</th>
                            <th class="correct"></th>
                        </tr>
                        <% _.each(question.results, result => { %>
                            <tr>
                                <td class="choice"><%= result.choice %></td>
                                <td class="expected"><input type="checkbox" disabled<%= result.expected ? ' checked' : '' %>></td>
                                <td class="given"><input type="checkbox" name="answer[]" value="<%= result.choice %>" disabled<%= result.given ? ' checked' : '' %>></td>
                                <td class="correct">
                                <% if (result.correct === true) { %>
                                <span class="glyphicon glyphicon-ok"></span>
                                <% } else if (result.correct === false) { %>
                                <span class="glyphicon glyphicon-remove"></span>
                                <% } %>
                                </td>
                            </tr>
                        <% }) %>
                    </table>
                <% } else if (question.isShortAnswer()) { %>
                    <table class="table table-bordered table-condensed">
                        <tr>
                            <th class="expected">Expected</th>
                            <td class="expected">
                                <table>
                                <% _.each(question.results.expected, answer => { %>
                                    <tr><td><%= answer %></td></tr>
                                <% }) %>
                                </table>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <th class="given">Given</th>
                            <td class="given">
                                <input type="text" name="answer[]" value="<%= question.results.given %>" class="form-control input-sm" disabled>
                            </td>
                            <td class="correct">
                            <% if (question.results.correct) { %>
                            <span class="glyphicon glyphicon-ok"></span>
                            <% } else { %>
                            <span class="glyphicon glyphicon-remove"></span>
                            <% } %>
                            </td>
                        </tr>
                    </table>
                <% } else if (question.isCodeTracing()) { %>
                    <table class="table table-bordered table-condensed">
                        <tr>
                            <th class="expected">Expected</th>
                            <th class="given">Given</th>
                            <th class="attempts">Attempts</th>
                            <th class="correct"></th>
                        </tr>
                        <% _.each(question.results, result => { %>
                            <tr>
                                <td class="expected"><pre><code><%= result.expected %></code></pre></td>
                                <td class="given">
                                    <pre><code data-name="codeTracingAnswers[]"><%= result.given %></code></pre>
                                </td>
                                <td class="attempts"><%= result.attempts %></td>
                                <td class="correct">
                                <% if (result.correct) { %>
                                <span class="glyphicon glyphicon-ok"></span>
                                <% } else { %>
                                <span class="glyphicon glyphicon-remove"></span>
                                <% } %>
                                </td>
                            </tr>
                        <% }) %>
                    </table>
                <% } %>
                </div>
                <!-- points -->
                <div class="points form-inline">
                    <label class="control-label">Points</label>
                    <input type="number" name="points" value="<%= question.score %>" min="0" class="form-control input-sm" maxlength="3" disabled>
                </div>
            </div>
            <div class="panel-footer">
                <button type="button" class="btn btn-sm btn-edit">Edit</button>
                <!-- edit mode buttons -->
                <button type="submit" formaction="/admin/courses/<%= course._id %>/tutorials-quizzes/<%= tutorialQuiz._id %>/groups/<%= group._id %>/responses/<%= question.response.isNew ? '' : `${question.response._id}?_method=patch` %>" class="btn btn-sm btn-primary btn-update" style="display:none">Update</button>
                <button type="button" class="btn btn-sm btn-cancel" style="display:none">Cancel</button>
            </div>
        </form>
    </div>
<% }) %>

<!--table class="table table-hover">
    <thead>
        <tr>
            <th style="width: 10px;">No.</th>
            <th>Type</th>
            <th style="max-width: 250px;">Question</th>
            <th class="text-center"># of incorrect attempts</th>
            <th class="text-center">Points awarded</th>
        </tr>
    </thead>
<% if (_.isEmpty(group.responses)) { %>
    <tbody>
        <tr><td colspan="5">No responses have been given yet.</td></tr>
    </tbody>
<% } else { %>
    <tfoot>
        <tr class="total-points">
            <th colspan="4" style="text-align: right">Total Points</th>
            <th class="text-center"><%= group.getTotalPoints() %></th>
        </tr>
    </tfoot>
    <tbody>
    <% _.each(group.responses, response => { %>
        <tr>
            <td style="width: 10px;"><%= response.question.number %>.</td>
            <td><%= response.question.type %></td>
            <td style="max-width: 250px;"><%= response.question.question %></td>
            <td class="text-center"><%= response.attempts %></td>
            <td class="text-center"><%= response.points %></td>
        </tr>
    <% }) %>
    </tbody>
<% } %>
</table-->

<% include ../partials/footer %>