<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/css-toggle-switch/latest/toggle-switch.css" />
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/sweetalert/dist/sweetalert.css" rel="stylesheet">
    <link href="/css/student.css" rel="stylesheet">
    <title><%- title %></title>
</head>
<body>
    <div class="center-block">
        <div class="row" id="activeQuiz"<%= question.useLaTeX ? ' class="tex2jax_process"' : '' %>>
            <div class="col-md-6 col-md-offset-1 col-sm-12 col-xs-12"> 
                <br>
                <h4 class="bold">
                    <div id="text"><%- question.number + ' ' + question.question %></div>
                </h4>
                <span id="questionScore"></span>&nbsp;
                <a id="attachmentCollapser" data-toggle="collapse" data-target="#attachment">Attachments</a>
                <br>
                <div id="attachment" class="collapse">
                <% _.each(question.files, function (file) { %>
                    <% if (file.isImage()) { %>
                        <br><img class="attachedImg" src="/upl/<%- course.id %>/<%- file.name %>">
                        <br><a href="/upl/<%- course.id %>/<%- file.name %>" target="_blank"> Direct link</a>
                    <% } else if (file.isAudio()) { %>
                        <br><audio controls><source src="/upl/<%- course.id %>/<%- file.name %>" 
                            type="<%- file.type %>">Your browser does not support the audio element.</audio>
                        <br><a href="/upl/<%- course.id %>/<%- file.name %>" target="_blank"> Direct link</a>
                    <% } else { %>
                        <br><a href="/upl/<%- course.id %>/<%- file.name %>" target="_blank"><%- file.name %></a>
                    <% } %>
                <% }) %>
                <% _.each(question.links, function (link) { %>
                    <br><a href="<%= link %>" target="_blank"><%= link %></a>
                <% }) %>
                </div>
                <br>
                <div id="choices">
                <% if (question.isShortAnswer()) { %>     
                    <input type="text" class="form-control" placeholder="Enter your answer here" id="textInput"></input><br>
                <% } else { %>
                    <% _.each(question.choices, function (choice) { %>
                        <div class="quizBtn choice"><%- choice %></div>
                    <% }) %>
                <% } %>
                </div>
                <hr/>
                <button class="btn btn-success quizBtn" id="submitQuestion">Submit</button>
                <br>
            </div>
        </div>    
    </div>
    <% if (question.useLaTeX) { %>
    <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML-full"></script>
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({ tex2jax: {inlineMath: [["$","$"],["\\(","\\)"]]} });
        MathJax.Hub.Queue(["Typeset", MathJax.Hub]);
    </script>
    <% } %>
    <script src="/jquery/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>