<% include ../partials/header %>

<ol class="breadcrumb">
    <li><a href="/admin/courses">Courses</a> ‐ <%= course.code %></li>
    <li><a href="/admin/courses/<%= course._id %>/quizzes">Quizzes</a> ‐ <%= quiz.name %></li>
    <li class="active">Questions</li>
</ol>

<h3 id="title"><%- title %></h3>

<% include ../partials/flash %>

<div class="nav-actions">
    <a href="/admin/courses/<%= course._id %>/quizzes/<%= quiz.id %>/questions/new"
        class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus"></span> Add New Question</a>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 10px"></th>
            <th style="text-align: right;width: 40px">No.</th>
            <th style="width: 130px;">Type</th>
            <th style="min-width: 400px">Question</th>
            <th class="actions"></th>
        </tr>
    </thead>
    <tbody>
    <% if (_.isEmpty(quiz.questions)) { %>
        <tr><td colspan="5">No questions have been added yet.</td></tr> 
    <% } else { %>
        <% _.each(quiz.questions, question => { %>
            <tr>
                <td style="width: 10px;">
                    <span class="glyphicon glyphicon-option-vertical handle" title="Hold and drag to new location"></span>
                    <input type="hidden" name="questions[]" value="<%= question._id %>">
                </td>
                <td style="text-align: right;width: 40px"><%= question.number %></td>
                <td style="width: 130px;"><%= question.type %></td>
                <td style="min-width: 400px">
                    <div class="question"><%= question.question %></div>
                    <% if (question.submitter) { %>
                        <div class="submitter">submitted by <%= question.submitter.name.full %></div>
                        <% if (!question.approved) { %>
                            <div class="approval">requires approval</div>
                        <% } %>
                    <% } %>
                </td>
                <td class="actions">
                    <div class="dropdown">
                        <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">Actions<span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="/admin/courses/<%= course._id %>/quizzes/<%= quiz.id %>/questions/<%= question._id %>/edit"><span class="glyphicon glyphicon-pencil"></span> Edit Question</a></li>
                            <li class="divider"></li>
                            <li><a href="/admin/courses/<%= course._id %>/quizzes/<%= quiz.id %>/questions/<%= question._id %>" class="btn-delete"><span class="glyphicon glyphicon-remove"></span> Delete Question</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        <% }) %>
    <% } %>
    </tbody>
</table>

<% include ../partials/footer %>