<% include ../partials/header %>

<ol class="breadcrumb">
    <li><a href="/admin/courses">Courses</a> ‐ <%= course.code %></li>
    <li><a href="/admin/courses/<%= course._id %>/quizzes">Quizzes</a> ‐ <%= quiz.name %></li>
    <li><a href="/admin/courses/<%= course._id %>/quizzes/<%= quiz._id %>/questions">Questions</a></li>
    <li class="active"><%- question.isNew ? 'New' : 'Edit' %></li>
</ol>

<h1><%= title %></h1>

<% include ../partials/flash %>

<form action="/admin/courses/<%= course._id %>/quizzes/<%= quiz._id %>/questions/<%= question.isNew ? '' : `${question._id}?_method=put` %>" method="post" autocomplete="off" class="form-horizontal">

    <div class="form-group required">
        <label class="col-sm-2 control-label">Number</label>
        <div class="col-sm-2">
            <input name="number" value="<%= question.number %>" maxlength="6" class="form-control">
            <p class="help-block"><span class="glyphicon glyphicon-info-sign"></span> Ex: 1, A or 1a</p>
        </div>
    </div>

    <div class="form-group required">
        <label class="col-sm-2 control-label">Type</label>
        <div class="col-sm-10">
            <select name="type" class="form-control">
            <% _.each(question.schema.path('type').enumValues, type => { %>
                <option value="<%= type %>"<%= question.type === type ? ' selected' : '' %>><%= _.upperFirst(type) %></option>
            <% }) %>
            </select>
        </div>
    </div>

    <!-- multiple-choice -->
    <% include ../partials/fieldset-multiple-choice %>

    <!-- multiple-select -->
    <% include ../partials/fieldset-multiple-select %>

    <!-- short-answer -->
    <% include ../partials/fieldset-short-answer %>

    <!-- code-tracing -->
    <% include ../partials/fieldset-code-tracing %>

    <!-- files -->
    <div class="form-group">
        <label class="col-sm-2 control-label">Files</label>
        <div class="col-sm-10">
            <a href="#" class="btn btn-default btn-sm" data-toggle="modal" data-target="#modal-show-files">
                <span class="glyphicon glyphicon-file"></span> Show files</a>
            <a href="#" class="counter files" data-toggle="modal" data-target="#modal-show-files"><%= question.files.length != 1 ? question.files.length + ' files selected' : '1 file selected' %></a>
        </div>
    </div>

    <!-- links -->
    <div class="form-group">
        <label class="col-sm-2 control-label">Links</label>
        <div class="col-sm-10">
            <a href="#" class="btn btn-default btn-sm" data-toggle="modal" data-target="#modal-show-links">
                <span class="glyphicon glyphicon-link"></span> Show links</a>
            <a href="#" class="counter links" data-toggle="modal" data-target="#modal-show-links"><%= question.links.length != 1 ? question.links.length + ' links added' : '1 link added' %></a>
        </div>
    </div>

    <!-- options -->
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <a href="#options" data-toggle="collapse" data-target="#options">Show/hide additional options</a>
        </div>
    </div>
    <div id="options" class="collapse">
        <div class="form-group">
            <label class="col-sm-2 control-label">Shuffle choices?</label>
            <div class="col-sm-6">
                <input type="checkbox" name="shuffleChoices" value="1" class="bootstrap-switch"<%= _.defaultTo(question.shuffleChoices, quiz.shuffleChoices) == 1 ? ' checked' : '' %> >
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Format using LaTeX?</label>
            <div class="col-sm-6">
                <input type="checkbox" name="useLaTeX" value="1"  class="bootstrap-switch"<%= _.defaultTo(question.useLaTeX, quiz.useLaTeX) == 1 ? ' checked' : '' %>>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Points possible</label>
            <div class="col-sm-6">
                <input type="number" name="points" value="<%= _.defaultTo(question.points, quiz.points) %>" min="0" max="7" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">First-try bonus</label>
            <div class="col-sm-6">
                <input type="number" name="firstTryBonus" value="<%= _.defaultTo(question.firstTryBonus, quiz.firstTryBonus) %>" min="0" max="7" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Penalty per attempt</label>
            <div class="col-sm-6">
                <input type="number" name="penalty" value="<%= _.defaultTo(question.penalty, quiz.penalty) %>" min="0" max="7" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-6" id="points-calculator"></div>
        </div>
    </div>


    <div class="form-group" style="margin-top: 30px;">
        <div class="col-sm-offset-2 col-sm-10">
            <a href="/admin/courses/<%= course._id %>/quizzes/<%= quiz._id %>/questions" class="btn btn-default btn-sm">Cancel</a>
            <button type="button" class="btn btn-default btn-sm" id="btn-preview">Preview</button>
            <% if (question.isNew) { %>
                <input type="hidden" id="back" name="back" value="1">
                <button type="submit" class="btn btn-primary btn-sm" onclick="back.value=0">Save &amp; Add Another New Question</button>
                <button type="submit" class="btn btn-primary btn-sm">Save &amp; Go Back To Previous Page</button>
            <% } else { %>
                <button type="submit" class="btn btn-primary btn-sm">Save</button>
            <% } %>
        </div>
    </div>

    <% include ../partials/modal-show-files %>
    <% include ../partials/modal-show-links %>
</form>

<% include ../partials/footer %>