<% include ../partials/header %>

<ol class="breadcrumb">
    <li><a href="/admin/courses">Courses</a> ‐ <%= course.code %></li>
    <li><a href="/admin/courses/<%= course.id %>/tutorials">Tutorials</a> ‐ TUT <%= tutorial.number %></li>
    <li><a href="/admin/courses/<%= course.id %>/tutorials/<%= tutorial.id %>/students">Students</a> ‐ <%- student.name.full %></li>
    <li class="active">Marks</li>
</ol>

<h1><%- title %></h1>
<h3><%= student.name.full %> - <%= student.student.number %></h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Quiz</th>
            <th>Group</th>
            <th class="text-center" style="width: 200px">Points Awarded</th>
            <th class="text-center" style="width: 200px">Teaching Points Awarded</th>
        </tr>
    </thead>
    <% if (_.isEmpty(marks)) { %>
        <tbody>
            <tr><td colspan="4">No marks have been given yet for this student.</td></tr>
        </tbody>
    <% } else { %>
        <tfoot>
            <tr class="total-points">
                <th colspan="2" style="text-align: right">Total</th>
                <th class="text-center"><%= totalPoints %></th>
                <th class="text-center"><%= totalTeachingPoints %></th>
            </tr>
        </tfoot>
        <tbody>
        <% _.each(marks, function (mark) { %>
            <tr>
                <td><%= mark.tutorialQuiz.quiz.name %>.</td>
                <td>
                <% if (mark.group) { %>
                    <a href="/admin/courses/<%= course.id %>/tutorials/<%= tutorial.id %>/quizzes/<%= mark.tutorialQuiz.quiz.id %>/groups/<%= mark.group.id %>/responses">Group <%= mark.group.name %></a>
                <% } else { %>
                    N/A
                <% } %>      
                </td>
                <td class="text-center"><%= mark.points %></td>
                <td class="text-center"><%= mark.teachingPoints %></td>

            </tr>
        <% }) %>
        </tbody>
    <% } %>
</table>

<% include ../partials/footer %>