<% include ../partials/header %>

<ol class="breadcrumb">
    <li><a href="/admin/courses">Courses</a> ‐ <%- course.code %></li>
    <li><a href="/admin/courses/<%- course._id %>/tutorials">Tutorials</a> ‐ TUT <%- tutorial.number %></li>
    <li><a href="/admin/courses/<%- course._id %>/tutorials/<%- tutorial._id %>/quizzes">Quizzes</a> ‐ <%- quiz.name %></li>
    <li class="active">Marks</li>
</ol>

<h3><%- title %></h3>

<div class="nav-actions">
    <a class="btn btn-default btn-sm" 
        href="/admin/courses/<%= course.id %>/tutorials/<%= tutorial._id %>/quizzes/<%= quiz._id %>/marks?export=1"><span 
        class="glyphicon glyphicon-save"></span> Export</a>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>UTORid</th>
            <th>Student No.</th>
            <th>Name</th>
            <th>Tutorial</th>
            <th>Quiz</th>
            <th>Group</th>
            <th class="text-center">Mark</th>
        </tr>
    </thead>
    <tbody>
    <% if (_.isEmpty(data)) { %>
        <tr><td colspan="7">No students have been added yet.</td></tr>
    <% } else { %>
        <% _.each(data, d => { %>
            <tr>
                <td><%= d.member.student.UTORid %></td>
                <td><%= d.member.student.number %></td>
                <td>
                    <a href="/admin/courses/<%= course._id %>/students/<%= d.member._id %>/marks"><%= `${d.member.name.first} ${d.member.name.last}` %></a>
                </td>
                <td>TUT <%= tutorial.number %></td>
                <td><%= quiz.name %></td>
                <td>
                    <a href="/admin/courses/<%= course._id %>/tutorials/<%= tutorial._id %>/quizzes/<%= quiz._id %>/groups/<%= d.group._id %>/responses">Group <%= d.group.name %></a>
                </td>
                <td class="text-center"><%= d.totalPoints %></td>
            </tr>
        <% }) %>
    <% } %>
    </tbody>
</table>

<% include ../partials/footer %>