<% include ../partials/header %>

<ol class="breadcrumb">
    <li><a href="/admin/courses">Courses</a> ‐ <%= course.code %></li>
    <% if (tutorial) { %>
        <li><a href="/admin/courses/<%= course.id %>/tutorials">Tutorials</a> ‐ TUT <%= tutorial.number %></li>
    <% } %>
    <li class="active">Tutorials &amp; Quizzes</li>
</ol>

<h3><%- title %></h3>

<% include ../partials/flash %>

<form method="post" autocomplete="off" class="form-horizontal">

    <div class="nav-actions">
        <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#modal-edit-tutorials-quizzes"> Bulk Actions</button>
        <button type="submit" class="btn btn-default btn-sm" formaction="/admin/courses/<%= course._id %>/marks?export=true">Export Marks</button>
    </div>

    <table class="table table-hover table-nofluid">
        <thead>
            <tr>
                <th class="cb"><input type="checkbox"></th>
                <th class="quiz">Quiz</th>
                <th class="tutorial">Tutorial</th>
                <th class="published">Published</th>
                <th class="active-1">Active</th>
                <th class="archived">Archived</th>
                <th class="actions"></th>
            </tr>
        </thead>
        <tfoot>
            <tr><td colspan="7" class="clearfix"><% include ../partials/pagination %></td></tr>
        </tfoot>
        <tbody>
        <% if (_.isEmpty(tutorialsQuizzes)) { %>
            <tr><td colspan="7">No quizzes have been added for this tutorial yet.</td></tr>
        <% } else { %>
            <% _.each(tutorialsQuizzes, tutorialQuiz => { %>
                <tr>
                    <td class="cb"><input type="checkbox" name="tutorialsQuizzes[]" value="<%= tutorialQuiz._id %>"></td>
                    <td class="quiz"><%= tutorialQuiz.quiz.name %></td>
                    <td class="tutorial"><%= tutorialQuiz.tutorial.number %></td>
                    <td class="published"><% if (tutorialQuiz.published) { %><span class="glyphicon glyphicon-ok"></span><% } %></td>
                    <td class="active-1"><% if (tutorialQuiz.active) { %><span class="glyphicon glyphicon-ok"></span><% } %></td>
                    <td class="archived"><% if (tutorialQuiz.archived) { %><span class="glyphicon glyphicon-ok"></span><% } %></td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">Actions<span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="/admin/courses/<%= course._id %>/tutorials-quizzes/<%= tutorialQuiz._id %>"><span class="glyphicon glyphicon-play-circle"></span> Conduct quiz</a></li>
                                <li><a href="/admin/courses/<%= course._id %>/tutorials-quizzes/<%= tutorialQuiz._id %>/marks"><span class="glyphicon glyphicon-signal"></span> View Results</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            <% }) %>
        <% } %>
        </tbody>
    </table>

    <% include ../partials/modal-edit-tutorials-quizzes %>

</form>

<% include ../partials/footer %>