<% include ../partials/header %>

<ol class="breadcrumb">
    <li><a href="/admin/courses">Courses</a> ‐ <%= course.code %></li>
    <% if (tutorial) { %>
        <li><a href="/admin/courses/<%= course.id %>/tutorials">Tutorials</a> ‐ TUT <%= tutorial.number %></li>
    <% } %>
    <li class="active">Quizzes</li>
</ol>

<h1><%- title %></h1>

<div class="nav-actions">
    <div class="btn-group">
        <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown"> Bulk Actions<span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a href="/admin/courses/<%= course._id %>/conduct?action[name]=published&action[value]=true">Publish</a></li>
            <li><a href="/admin/courses/<%= course._id %>/conduct?action[name]=published&action[value]=false">Unpublish</a></li>
            <li><a href="/admin/courses/<%= course._id %>/conduct?action[name]=active&action[value]=true">Activate</a></li>
            <li><a href="/admin/courses/<%= course._id %>/conduct?action[name]=active&action[value]=false">Deactivate</a></li>
            <li><a href="/admin/courses/<%= course._id %>/conduct?action[name]=archived&action[value]=true">Archive</a></li>
            <li><a href="/admin/courses/<%= course._id %>/conduct?action[name]=archived&action[value]=false">Unarchive</a></li>
            <li><a href="#!" onclick="form.submit()" id="btn-export">Export Marks</a></li>
        </ul>
    </div>
</div>

<form action="/admin/courses/<%= course._id %>/marks?export=true" method="post" id="form">
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="width: 10px;"><input type="checkbox"></th>
                <th>Quiz</th>
                <th>Tutorial</th>
                <th class="text-center">Published</th>
                <th class="text-center">Active</th>
                <th class="text-center">Archived</th>
                <th class="actions"></th>
            </tr>
        </thead>
        <tfoot>
            <tr><td colspan="7" class="clearfix"><% include ../partials/pagination %></td></tr>
        </tfoot>
        <tbody>
        <% if (_.isEmpty(tutorialQuizzes)) { %>
            <tr><td colspan="7">No quizzes have been added for this tutorial yet.</td></tr>
        <% } else { %>
            <% _.each(tutorialQuizzes, tutorialQuiz => { %>
                <tr>
                    <td><input type="checkbox" name="tutorialQuizzes[]" value="<%= tutorialQuiz.id %>"></td>
                    <td><%= tutorialQuiz.quiz.name %></td>
                    <td><%= 'TUT ' + tutorialQuiz.tutorial.number %></td>
                    <td class="text-center"><% if (tutorialQuiz.published) { %><span class="glyphicon glyphicon-ok"></span><% } %></td>
                    <td class="text-center"><% if (tutorialQuiz.active) { %><span class="glyphicon glyphicon-ok"></span><% } %></td>
                    <td class="text-center"><% if (tutorialQuiz.archived) { %><span class="glyphicon glyphicon-ok"></span><% } %></td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">Actions<span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="/admin/courses/<%= course._id %>/tutorials/<%= tutorialQuiz.tutorial._id %>/quizzes/<%= tutorialQuiz.quiz._id %>/conduct"><span class="glyphicon glyphicon-play-circle"></span> Conduct quiz</a></li>
                                <li><a href="/admin/courses/<%= course._id %>/tutorials/<%= tutorialQuiz.tutorial._id %>/quizzes/<%= tutorialQuiz.quiz._id %>/marks"><span class="glyphicon glyphicon-signal"></span> View Results</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            <% }) %>
        <% } %>
        </tbody>
    </table>
</form>

<% include ../partials/footer %>