<% include ../partials/header %>

<ol class="breadcrumb">
    <li class="active">Users</li>
</ol>

<h1><%- title %></h1>

<% include ../partials/flash %>

<div class="nav-actions">
    <a href="/admin/users/new" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus"></span> Add New User</a>
</div>

<table class="table table-striped">
    <!--thead>
        <tr>
            <td colspan="4">
                <input type="text" id="q" value="" maxlength="40" class="form-control">
                <br>
            </td>
        </tr>
    </thead-->
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Roles</th>
            <th class="actions"></th>
        </tr>
    </thead>
    <% if (_.isEmpty(users)) { %>
        <tbody>
            <tr><td colspan="4">No users have been added yet.</td></tr>
        </tbody>
    <% } else { %>
        <tfoot>
            <tr><td colspan="4" class="clearfix"><% include ../partials/pagination %></td></tr>
        </tfoot>
        <tbody>
        <% _.each(users, user => { %>
            <tr>
                <td><%= user.name.full %></td>
                <td><%= user.local.email %></td>
                <td><% _.each(user.roles, role => { %><p><%= _.startCase(role) %></p><% }) %></td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">Actions<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="/admin/users/<%= user._id %>/edit"><span class="glyphicon glyphicon-pencil"></span> Edit user</a></li>
                            <li class="divider"></li>
                            <li><a href="/admin/users/<%= user._id %>" class="btn-delete"><span class="glyphicon glyphicon-remove"></span> Delete user</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        <% }) %>
        </tbody>
    <% } %>
</table>

<% include ../partials/footer %>