<%- include ../partials/student-header -%>

<h1>Your Courses</h1>

<div class="list-group">
<% courses.forEach(function (course) { %>
    <a href="/student/courses/<%= course.id %>/quizzes" class="list-group-item">
        <span class="code"><%= course.code %></span> -
        <span class="name"><%= course.name %></span>
    </a>
<% }) %>
</div>

<%- include ../partials/student-footer -%>