<%- include ../partials/student-header -%>

<h2><%= quiz.name %></h2>

<h4 style="color: red">@TODO: KEEP TRACK OF ATTEMPTS</h4>

<div class="col-md-4">
<% quiz.questions.forEach(function (question, i) { %>
    <a href="/student/courses/<%= course.id %>/quizzes/<%= tutorialQuiz.id %>/questions/<%= question.id %>" class="list-group-item">
        <h4>Question <%= i + 1 %></h4>
        <div class="attemptCount">
        <% for (i = 0; i < 4; i++) { %>
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        <% } %>
        </div>
    </a>
<% }) %>
</div>

<div class="col-md-8">

    <form class="form-horizontal">
        <h4>Question <%= n + 1 %>.</h4>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10"><%= question.question %></div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
            <% question.files.forEach(function (file, k) { %>
                <% if (file.type.indexOf('audio') !== -1) { %>
                    <audio controls><source src="/upl/<%= course.id %>/<%= file.name %>" type="<%= file.type %>"></audio>
                <% } else if (file.type.indexOf('image') !== -1) { %>
                    <img src="/upl/<%= course.id %>/<%= file.name %>" alt="<%= file.name %>" 
                        class="img-thumbnail img-responsive" style="max-width: 200px; max-height: 200px;">
                <% } else { %>
                    <a href="/upl/<%= course.id %>/<%= file.name %>" target="_blank">Link to file</a>
                <% } %>
            <% })%>            
            </div>
        </div>
        <div class="form-group">
            <h4 style="color: red">@TODO: CHANGE THESE BUTTONS TO LONG SWITCH CONTROLS</h4>
            <% if (question.type === 'multiple choice') { %>
                <% question.choices.forEach(function (choice, k) { %>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">
                            <input type="checkbox" name="answer" value="<%= k %>">
                        </label>
                        <div class="col-sm-10"><%= choice %></div>
                    </div>
                <% }) %>
            <% } else if (question.type === 'true or false') { %>
                <% question.choices.forEach(function (choice, k) { %>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">
                            <input type="radio" name="answer" value="<%= k %>">
                        </label>
                        <div class="col-sm-10"><%= choice %></div>
                    </div>
                <% }) %>
            <% } else if (question.type === 'multiple select') { %>
                <% question.choices.forEach(function (choice, k) { %>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">
                            <input type="radio" name="answer" value="<%= k %>">
                        </label>
                        <div class="col-sm-10"><%= choice %></div>
                    </div>
                <% }) %>
            <% } %>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">

            <% if (n - 1 >= 0) { %>

            <a href="/student/courses/<%= course.id %>/quizzes/<%= tutorialQuiz.id %>/questions/<%= quiz.questions[n - 1] %>" 
                class="btn btn-primary btn-lg" role="button">Last question</a>

            <% } if (n + 1 < quiz.questions.length) { %>

            <a href="/student/courses/<%= course.id %>/quizzes/<%= tutorialQuiz.id %>/questions/<%= quiz.questions[n + 1] %>" 
                class="btn btn-primary btn-lg" role="button">Next question</a>

            <% } else if (n + 1 === quiz.questions.length) { %>

            <a href="/student/courses/<%= course.id %>/quizzes/<%= tutorialQuiz.id %>/end" 
                class="btn btn-primary btn-lg" role="button">End quiz</a>

            <% } %>

            </div>
        </div>
    </form>
</div>

<% if (question.settings.useLaTeX) { %>
    <script type="text/javascript" async 
        src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>
<% } %>

<%- include ../partials/student-footer -%>