<%- include ./header -%>

<% if (tutorialQuiz.quiz.useLaTeX) { %>
    <script type="text/javascript" async 
        src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>
<% } %>

<h2><%= tutorialQuiz.quiz.name %></h2>

<div class="col-md-4">
<% for (var q = 1, len = tutorialQuiz.quiz.questions.length; q <= len; q++) { %>
    <a href="#" class="list-group-item link-select-question" data-id="<%= tutorialQuiz.quiz.questions[q].id %>">
        <h4>Question <%= q %></h4>
    </a>
<% } %>
</div>

<div class="col-md-8">
    <form class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-8"></div>
            <div class="col-sm-4"></div>
        </div>
        <!-- question -->
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">

            </div>
        </div>
        <!-- files -->
        <div class="form-group">

        </div>
        <!-- choices -->
        <div class="form-group">
            <div class="col-sm-10">

            </div>
        </div>
        <!-- buttons -->
        <div class="form-group">
            <div class="col-sm-10">

            </div>
        </div>
    </form>
</div>

<script type="text/template" id="multiple-choice-template">
    <div class="form-group">
        <label class="col-sm-2 control-label">
            <input type="radio" name="answer" value="">
        </label>
        <div class="col-sm-10">${ answer }</div>
    </div>
</script>

<script type="text/template" id="true-or-false-template">
    <div class="form-group">
        <label class="col-sm-2 control-label">
            <input type="radio" name="answer" value="">
        </label>
        <div class="col-sm-10">${ answer }</div>
    </div>
</script>

<script type="text/template" id="multiple-select-template">
    <div class="form-group">
        <label class="col-sm-2 control-label">
            <input type="radio" name="answers[]" value="">
        </label>
        <div class="col-sm-10">${ answer }</div>
    </div>
</script>

<%- include ./footer -%>