<%- include ./header -%>

<h1><%- course.name + ' - TUT ' + tutorial.number %></h2>

<div class="list-group">
<% tutorialQuizzes.forEach(function (tutorialQuiz) { %>
    <a href="/student/courses/<%= course.id %>/quizzes/<%= tutorialQuiz.id %>/start" class="list-group-item"><%= tutorialQuiz.quiz.name %></a>
<% }) %>
</div>

<%- include ./body-js -%>
<%- include ./footer -%>