<% include ./header %>

<h3><%= course.name + ' - Tutorial ' + tutorial.number %></h3>

<br>

<div class="list-group" style="max-width: 600px">
<% _.each(tutorialQuizzes, tutorialQuiz => { %>
    <div class="list-group-item clearfix">
        <div class="pull-left" style="line-height: 36px; height: 36px"><%= tutorialQuiz.quiz.name %></div>
        <a class="btn btn-primary btn-sm pull-right" href="/student/courses/<%= course._id %>/quizzes/<%= tutorialQuiz._id %>/start">Start Quiz</a>
        <% if (tutorialQuiz.quiz.studentChoice) { %>
        <a class="btn btn-warning btn-sm pull-right" href="/student/courses/<%= course._id %>/quizzes/<%= tutorialQuiz._id %>/submit-question" style="margin-right: 5px">Submit Questions</a>
        <% } %>
    </div>
<% }) %>
</div>

<% include ./footer %>