<table class="table table-hover">
    <thead>
        <tr>
            <th class="text-center" style="width: 50px"><input type="checkbox" value="1"></th>
            <th>Name</th>
            <th>UTORid</th>
            <th>Student Number</th>
        </tr>
    </thead>
    <tfoot>
        <tr><td colspan="4" class="clearfix"><% include pagination %></td></tr>
    </tfoot>
    <tbody>
    <% if (_.isEmpty(students)) { %>
        <tr><td colspan="4">No students were found matching the given query.</td></tr>
    <% } else { %> 
        <% _.each(students, student => { %>
            <tr>
                <td class="text-center"><input type="checkbox" name="users[]" value="<%= student._id %>"<%= course.hasStudent(student._id) ? ' checked disabled' : '' %>></td>
                <td><%= student.name.full %></td>
                <td><%= student.UTORid %></td>
                <td><%= student.studentNumber %></td>
            </tr>
        <% }) %>
    <% } %>
    </tbody>
</table>